<!-- <style>
    .control-section{
        margin-top: 100px;
    }
    
    </style>
    <div class="control-section">
      <div class="col-lg-9 content-wrapper">
        <ejs-schedule
          #scheduleObj width="100%" cssClass="schedule-holiday-calendar" height="100%" [selectedDate]="selectedDate" [eventSettings]="eventSettings" [rowAutoHeight]="true"
          (eventRendered)="onEventRendered($event)" (cellClick)="clickOnHoliday($event)" (cellDoubleClick)="clickOnHoliday($event)"
          (dragStop)="onEventDragOrResize($event)" (resizeStop)="onEventDragOrResize($event)" (actionBegin)="onActionBegin($event)" >
          <e-views>
            <e-view option="Month"></e-view>
          </e-views>
        </ejs-schedule>
        <ejs-toast
          #toastpos id="toastpos" [position]="toastPosition" [target]="target" title="Information!" cssClass="e-toast-info"  icon="e-info toast-icons"></ejs-toast>
      </div>
      <div class="col-lg-3 property-section">
        <div class="property-panel-section">
          <div class="property-panel-header"></div>
          <div class="property-panel-content">
            <div id="property-panel" class="property-panel-table" title="">
              <table style="width: 100%">
                <tbody>
                  <tr style="height: 50px">
                    <td style="width: 100%;">
                      <div>
                        <ejs-checkbox #holidayCheckbox label="Holiday events" [checked]="holidayListCollection" (change)="updateHolidayListCollection($event)"></ejs-checkbox>
                      </div>
                    </td>
                  </tr>
                  <tr style="height: 50px">
                    <td style="width: 100%;">
                      <div>
                        <ejs-checkbox #eventCheckbox label="Scheduling event on holiday" [checked]="holidayEventCollection" (change)="updateHolidayEventCollection($event)"></ejs-checkbox>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
     -->

     <!-- <div class="container mt-5">
        <h3>Attendance Calendar</h3>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of calendarData">
              <td *ngFor="let day of week" [ngClass]="getDayClass(day)">
                <span *ngIf="day">{{ day.date.getDate() }}</span>
                <small *ngIf="day?.status" class="d-block">
                  {{ day.status }}
                </small>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid row m-auto p-3">
            <a class="navbar-brand col-2" href="#"><h5>Attendance Calendar</h5></a>
            <div class="d-flex justify-content-between align-items-center col-10 rowmb-3">
                <div class="col-8">
                    <span style="color: #4c6fbf;font-weight: 600;">Month : </span>
                    <select class="form-select d-inline-block w-auto me-2" id="monthSelector"(change)="onMonthChange($event)">
                        <!-- Months will be added dynamically -->
                         <!-- <option value="month.key">{{month}}</option> -->
                         <option *ngFor="let month of monthNames" [value]="month">{{month}}</option>
                        </select>
                    <!-- <option value="0">January</option><option value="1">February</option><option value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option><option value="0">January</option><option value="1">February</option><option value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select> -->
                    <span style="color: #4c6fbf;font-weight: 600;">Year : </span>
                    <select class="form-select d-inline-block w-auto me-2" id="yearSelector" [(ngModel)]="currentYear" (change)="onYearChange($event)">
                        <!-- Years will be added dynamically -->
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                    </select>
                    <!-- <option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option></select> -->
                    <span style="color: #4c6fbf;font-weight: 600;">Shift : </span>
                    <select class="form-select d-inline-block w-auto">
                        <option>General: 9.00 - 18.00</option>
                        <!-- Add other shifts -->
                    </select>
                </div>
                <div class="col-4">
                    <button class="btn btn-primary col-8" style="    text-transform: capitalize;" [routerLink]="['/regularization-apply']" [queryParams]="{ tabID: 9 }"  >Regularize Attendance</button>
                    <button class="btn btn-primary col-8 mt-2" style="    text-transform: capitalize;" [routerLink]="['/leave-apply']" [queryParams]="{ tabID: 7 }" >Apply Leave</button>
                </div>
            </div>
        </div>
    </nav>

<div class="row employeesearch" style="width: 100%;">
    <div class="col-md-2">
        <label for="employeeName">Employee Name</label>
           
    <input [(ngModel)]="employeeName" 
           (input)="onEmployeeNameInputChange($event)" 
           type="text" 
           class="form-control" 
           id="employeeName" 
           name="employeeName"
           placeholder="Search Employee Name"
           autocomplete="off">

          <!-- Autocomplete dropdown -->
          <ul *ngIf="filteredEmployees && filteredEmployees.length > 0 && !employeeSelected" 
              class="dropdown-menu show" 
              style="top: 10%;left: 2%;">
            <li *ngFor="let employee of filteredEmployees" 
                (click)="selectEmployee(employee)" 
                class="dropdown-item">
              {{ employee.FirstName+' '+ employee.LastName +'       ' +employee.EmployeeCode}}
            </li>
          </ul>
    </div>

    <!-- Calendar Section -->
    <div class="col-md-8">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="btn-group">
                    <div
                    class="btn btn-primary"
                    (click)="PreviousMonth()"
                    style="background-color: #4c6fbf;"
                    >
                    <i class="fas fa-less-than"></i>
                    </div>                  
                </div>
            </div>
            <div class="col-md-4">
                <h3 style="color: #4c6fbf;">{{ Month + " - " + currentYear}}</h3>                
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <div
                        class="btn btn-primary"
                        style="background-color: #4c6fbf;"
                        (click)="nextMonth()"
                        >
                        <i class="fas fa-greater-than"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ day }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let week of calendarData">
                    <!-- <td *ngFor="let day of week" [ngClass]=" {'background': day.status=='HalfDay'?'linear-gradient(to right, #ffcccb 50%, #ffff99 50%)':getDayClass(day)}"> -->
                    <td  class="w14 h100" *ngFor="let day of week" [ngClass]="getDayClass(day)">
                      <div class="row" *ngIf="day">
                          <!-- <span *ngIf="day.status">{{ day.status!='NoStatus'?day.status!='Leave'? day.status=='Holiday'?day.remark:'':day.remark:'' }}</span>  -->
                          <!-- <span data-toggle="tooltip" data-html="true" data-placement="top" [title]="request.leaveStatus == 'Reject' ? 'Already Rejected' : 'Click to Reject'"> -->
                              <!-- <span class="col-6 fs-8 text-start" data-toggle="tooltip" data-html="true" data-placement="top" [title]="day.status!='NoStatus'?day.checkIn - day.checkOut:''" *ngIf="day.status">{{ day.status!='NoStatus'? day.status=='Holiday'?day.remark:day.status:'' }} </span>  -->
                              <span class="col-6 fs-8 text-start" data-toggle="tooltip" data-html="true" data-placement="top">{{ day.status!='NoStatus'? day.status=='Holiday'?day.remark:day.status:'' }} </span> 
                              <span class="col-6 text-end"> <h4>{{day.date.getDate()}}</h4></span><br>
                              <div *ngIf="day.status=='Present' || day.status=='HalfDay' " class="border border-black col-11 p-1 m-auto ">
                                <span class="fs10 text-black">{{day.checkIn+" - "+day.checkOut}}</span>
                                 <span class="fs10 text-black">
                                    Work Hrs- 
                                    {{
                                        (convertTimeToMinutes(day.checkOut) - convertTimeToMinutes(day.checkIn)) / 60 | number:'2.0-0'
                                      }}:
                                      {{
                                        (convertTimeToMinutes(day.checkOut) - convertTimeToMinutes(day.checkIn)) % 60
                                      }} hr
                                 </span>
                              </div>
                               <!-- Display the day number -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    <br />
    
    </div>
   <!-- Attendance Summary Section -->
    <div class="col-md-2">
        <div class="card" style="border: none;">
            <div class="card-body p-0">
                <h6 class="card-title">Attendance &amp; Summary</h6>
                <ul class="list-group" style="    border: 1px solid; padding: 5px;">
                    <li class="list-group-item">Present days: 26</li>
                    <li class="list-group-item text-danger">Absent days: 2</li>
                    <li class="list-group-item text-primary">Leave Apply: 1</li>
                    <li class="list-group-item text-warning">Half day: 1</li>
                    <li class="list-group-item text-success">Leave Approved: 1</li>
                </ul>
            </div>
        </div>
    </div>
</div>
      <div class="container">
        
        <!-- <div class="row">
          <div class="col text-center">
            <div class="btn-group">
              <button (click)="PreviousMonth()" class="btn btn-primary"><i class="fa-solid fa-less-than"></i></button>
              <h3>{{Month+ " - " +currentYear}}</h3>
              <button (click)="nextMonth()" class="btn btn-primary"><i class="fa-solid fa-greater-than"></i></button>
            </div>
          </div>
        </div> -->
        
      </div>
      