<!-- 

 <div *ngIf="alertMessage" class="alert alert-dismissible" 
     [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" 
     role="alert">
  {{ alertMessage }}
</div>

<div class="bank-details-container">
  <h3>Bank Details</h3>
  <form class="bankdetailsForm" [formGroup]="bankdetailsForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let row of dynamicFormService.getRows(fields); trackBy: dynamicFormService.trackByFn" class="form-row">
      <div *ngFor="let field of row" 
           [ngClass]="{'col-6': dynamicFormService.isSingleFieldOrButtonRow(row), 'form-group': true}">
           <ng-container *ngIf="field.controls !== 'BUTTON'">
        <label *ngIf="field.controls !== 'BUTTON'" [for]="field.fieldName">{{ field.fieldTitle }}</label>
        
        <input *ngIf="field.controls === 'TEXTFIELD'"
               [type]="dynamicFormService.getFieldType(field.fieldDataType)"
               [id]="field.fieldName"
               [formControlName]="field.fieldName"
               [required]="field.isMandatory"
               (input)="dynamicFormService.onTextInput($event)" />
        
        <select *ngIf="field.controls === 'DROPDOWNLIST'"
                [id]="field.fieldName"
                [formControlName]="field.fieldName"
                [required]="field.isMandatory">
          <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
        </select>
        
        <input *ngIf="field.controls === 'DATEPICKER'"
               type="date"
               [id]="field.fieldName"
               [formControlName]="field.fieldName"
               [required]="field.isMandatory" />
           </ng-container>
      </div>
    </div>
        
    
      
    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button *ngIf="field.controls === 'BUTTON'" type="submit">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon> 
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div>  -->



<div *ngIf="alertMessage" class="alert alert-dismissible" 
     [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" 
     role="alert">
  {{ alertMessage }}
</div>

<div class="bank-details-container">
  <h3>Bank Details</h3>
  <form class="bankdetailsForm" [formGroup]="bankdetailsForm">
    <div *ngFor="let row of dynamicFormService.getRows(fields); trackBy: dynamicFormService.trackByFn" class="form-row">
      <div *ngFor="let field of row" 
           [ngClass]="{'col-6': dynamicFormService.isSingleFieldOrButtonRow(row), 'form-group': true}">
        
        <!-- Render fields based on control type -->
        <ng-container *ngIf="field.controls !== 'BUTTON'">
          <label [for]="field.fieldName">{{ field.fieldTitle }}</label>
          
          <!-- Text Input -->
          <input *ngIf="field.controls === 'TEXTFIELD'"
                 [type]="dynamicFormService.getFieldType(field.fieldDataType)"
                 [id]="field.fieldName"
                 [formControlName]="field.fieldName"
                 [required]="field.isMandatory"
                 (input)="dynamicFormService.onTextInput($event)" />
          
          <!-- Dropdown -->
          <select *ngIf="field.controls === 'DROPDOWNLIST'"
                  [id]="field.fieldName"
                  [formControlName]="field.fieldName"
                  [required]="field.isMandatory">
            <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
          </select>
          
          <!-- Datepicker -->
          <input *ngIf="field.controls === 'DATEPICKER'"
                 type="date"
                 [id]="field.fieldName"
                 [formControlName]="field.fieldName"
                 [required]="field.isMandatory" />
        </ng-container>
      </div>
    </div>

    <!-- Button Row - Buttons based on field configuration -->
    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button 
          *ngIf="field.controls === 'BUTTON'" 
          type="button" 
          (click)="onButtonClick(field.fieldTitle)">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon>
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div>
