  <div class="container-fluid">
    <div class="row">
      <!-- Leave Request Table -->
      <!-- <div [ngClass]="filterVisible ? 'col-md-9' : 'full-width'" id="table-column"> -->
      <div class="'full-width'" id="table-column">
        <!-- Header and Action Buttons -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h3>Regularization Requests</h3>
          <div>
            <span data-toggle="tooltip" data-placement="top" data-html="true" [title]="'Click to Reject'">
               <button class="btn btn-reject" (click)="rejectLeaves()">Reject</button>
            </span>
            <span data-toggle="tooltip" data-placement="top" data-html="true" [title]="'Click to Approve'">
              <button class="btn btn-approve"  (click)="approveLeaves()">Approve</button>
            </span>
            <button class="btn btn-custom ms-2" (click)="toggleFilter()">Filter Regularization</button>
          </div>
        </div>
  
        <div class="filter-panel" *ngIf="filterVisible">
          <div class="filter-content">
            <!-- <h3>Apply Filters</h3> -->
            <h3>Apply Filters <button class="float-right p-0" (click)="toggleFilter()"><i class="fa fa-times-circle fs-3"></i></button></h3>
            <form (ngSubmit)="applyFilter()">
              <div class="mb-3">
                <label for="employeeName">Employee Name</label>
               
        <input [(ngModel)]="filter.employeeName" 
               (input)="onEmployeeNameInputChange($event)" 
               type="text" 
               class="form-control" 
               id="employeeName" 
               name="employeeName"
               placeholder="Search Employee Name"
               autocomplete="off">

              <!-- Autocomplete dropdown -->
              <ul *ngIf="filteredEmployees.length > 0" 
                  class="dropdown-menu show" 
                  style="width: 100%;  z-index: 1000; top: 100%; left: 0;">
                <li *ngFor="let employee of filteredEmployees" 
                    (click)="selectEmployee(employee)" 
                    class="dropdown-item">
                  {{ employee.FirstName+' '+ employee.LastName +'       ' +employee.EmployeeCode}}
                </li>
              </ul>
              </div>        
             
              
              <div class="mb-3">
                <label class="form-label">Leave Status</label>
                <div>
                  <button type="button" class="btn btn-success me-2"  [ngClass]="{'border': leaveStatus === 'Approved', 'btn-success': leaveStatus !== 'Approved'}"(click)="setLeaveStatus('Approved')">Approved</button>
                  <button type="button" class="btn btn-warning me-2" [ngClass]="{'border': leaveStatus === 'Pending', 'btn-warning': leaveStatus !== 'Pending'}" (click)="setLeaveStatus('Pending')">Pending</button>
                  <button type="button" class="btn btn-danger" [ngClass]="{'border': leaveStatus === 'Reject', 'btn-danger': leaveStatus !== 'Reject'}" (click)="setLeaveStatus('Reject')">Reject</button>
                </div>
              </div>

              <div class="mb-3">
                <label class="form-label">Date Range</label>
                    <select class="form-select" id="financialYear">
                        <option value="10">Select Date Range</option>
                        <option value="10">10 days</option>
                        <option value="30">30 days</option>
                        <option value="90">90 days</option>
                        <option value="365">1 year</option>
                      </select> 
                <div class="row">
                  <div class="col">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDate" [(ngModel)]="filter.startDate" name="startDate">
                  </div>
                  <div class="col">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="endDate" [(ngModel)]="filter.endDate" name="endDate">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success">Apply</button>
              <button type="button" class="btn btn-secondary" (click)="resetfilter();">Reset</button>
            </form>
          </div>
        </div>
        <!-- Leave Request Table -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="col-1">
                <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()">
              </th>
              <th scope="col" class="col-1">Employee Name</th>
              <th scope="col" class="col-1">Regularization Date</th>
              <th scope="col" class="col-2">Actual PunchIn Time</th>
              <th scope="col" class="col-2">Actual PunchOut Time</th>
              <th scope="col" class="col-2">New PunchIn Time</th>
              <th scope="col" class="col-2">New PunchOut Time</th>
              <th scope="col" class="col-1">Remark</th>
              <th scope="col" class="col-1">Status</th>
              <th scope="col" class="col-2">Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of leaveRequests">
              <td>
                <input type="checkbox" [(ngModel)]="request.selected" (change)="onCheckboxChange(request)">
              </td>
              <td>{{ request.firstName + " " + request.lastName + " (" + request.employeeCode + ")" }}</td>
              <!-- <td>{{ request.employeeCode }}</td> -->
              <td>{{ request.regDate | date }}</td>
              <td>
                 {{request.actualPunchInTime | date:"HH:mm"}}
                
                <!-- <small>({{ getDaysDifference(request.leaveStartDate, request.leaveEndDate, isHalfDay) }} days)</small> -->
              </td>
              <td> {{request.actualPunchOutTime | date:"HH:mm"}} </td>
              <td> {{request.newPunchInTime | date:"HH:mm"}}</td> 
              <td> {{request.newPunchOutTime | date:"HH:mm"}} </td>  
              <td>{{ request.remark }}</td> 
              <td>{{request.regStatusText}}</td>
              <!-- <td>{{request.regStatus}}</td> -->
              <!-- <td [ngClass]="getStatusClass(request.leaveStatus)">{{ request.leaveStatus }}</td> -->
              <td>
                <span data-toggle="tooltip" data-html="true" data-placement="top" [title]="request.regStatusText == 'Reject' ? 'Already Rejected' : 'Click to Reject'">
                  <button class="btn btn-reject" [disabled]="request.regStatusText == 'Reject'" (click)="rejectSingleLeave(request)">
                    Reject
                  </button>
                </span>
                <br>
                <span data-toggle="tooltip" data-html="true" [title]="request.regStatusText == 'Approved' ? 'Already Approved.You cannot approve it again at this time.' : 'Click to Approve'">
                  <button class="btn btn-approve mt-1" [disabled]="request.regStatusText == 'Approved'" (click)="approveSingleLeave(request)">
                    Approve
                  </button>
                </span>
               </td>
            </tr>
            <tr *ngIf="leaveRequests.length<=0">
              <td colspan="7" >No Records Found!!!</td>
            </tr>
          </tbody>
        </table>
  
        <div class="pagination" *ngIf="leaveRequests.length>1">
          <button [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Previous</button>
          <button *ngFor="let page of getPageNumbers()" [class.active]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
          <button [class.disabled]="currentPage === getTotalPages()" (click)="goToPage(currentPage + 1)">Next</button>
        </div>
      </div>
    </div>
  </div>  