
<div *ngIf="alertMessage" class="alert alert-dismissible" 
     [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" 
     role="alert">
  {{ alertMessage }}
</div>

<div class="contact-details-container">
  <h3>Contact Details</h3>
  <form class="contactDetailsForm" [formGroup]="contactForm">
    <div *ngFor="let row of dynamicFormService.getRows(fields); trackBy: dynamicFormService.trackByFn" class="form-row">
      <div *ngFor="let field of row" 
           [ngClass]="{'col-6': dynamicFormService.isSingleFieldOrButtonRow(row), 'form-group': true}">
        
        <!-- Render fields based on control type -->
        <ng-container *ngIf="field.isView && field.controls !== 'BUTTON'">
          <label [for]="field.fieldName">{{ field.fieldTitle }}</label>
          
          <!-- Text Input -->
          <input *ngIf="field.controls === 'TEXTFIELD'"
                 [type]="dynamicFormService.getFieldType(field.fieldDataType)"
                 [id]="field.fieldName"
                 [formControlName]="field.fieldName"
                 [required]="field.isMandatory"
                 (input)="dynamicFormService.onTextInput($event)" />
          
          <!-- Dropdown -->
          <select *ngIf="field.controls === 'DROPDOWNLIST'"
                  [id]="field.fieldName"
                  [formControlName]="field.fieldName"
                  [required]="field.isMandatory">
            <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
          </select>
          
          <!-- Datepicker -->
          <input *ngIf="field.controls === 'DATEPICKER'"
                 type="date"
                 [id]="field.fieldName"
                 [formControlName]="field.fieldName"
                 [required]="field.isMandatory" />

                 <div *ngIf="field.controls === 'TEXTFIELD'"> 
                  <small class="text-danger" *ngIf="contactForm.get(field.fieldName)?.errors?.['required']">
                    {{ field.fieldTitle }} is required.
                  </small>
                  <!-- <small class="text-danger" *ngIf="(profileForm.get(field.fieldName))?.errors?.['minLength']"> -->
                  <small class="text-danger" *ngIf="(contactForm.get(field.fieldName))?.hasError('minlength')">
                    {{ field.fieldTitle }} must be at least {{ contactForm.get(field.fieldName)?.getError('minlength').requiredLength }} characters long.
                  </small>
                  <small class="text-danger" *ngIf="(contactForm.get(field.fieldName))?.hasError('maxlength')">
                    {{ field.fieldTitle }} must not be greater than {{ contactForm.get(field.fieldName)?.getError('maxlength').requiredLength }} characters long.
                  </small>
                  <small class="text-danger" *ngIf="contactForm.get(field.fieldName)?.hasError('textOnly')">
                    {{ field.fieldTitle }} should not contain numeric value.
                  </small>
                  <small class="text-danger" *ngIf="contactForm.get(field.fieldName)?.hasError('numberOnly')">
                    {{ field.fieldTitle }} should contain only numeric value.
                  </small>
                  <small class="text-danger" *ngIf="contactForm.get(field.fieldName)?.hasError('email')">
                    {{ field.fieldTitle }} Not in correct format.
                  </small>
                  <!-- Add more validation messages as needed -->
                </div>
          
        </ng-container>
      </div>
    </div>

    <!-- Button Row - Buttons based on field configuration -->
    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button 
          *ngIf="field.isView && field.controls === 'BUTTON'" 
          type="button" 
          (click)="onButtonClick(field.fieldTitle)">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon>
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div>
