/* 
.contact-details-container {
  width: 100%;
  max-width: 98%;
  padding: 20px;
  border: 1px solid #d0e0ed82;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 1% auto; 
  position: relative;
 
}
.contact-details-container h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #333;
  position: relative;
  padding-bottom: 12px;
}

.contact-details-container h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #9ab4ce;
  position: absolute;
  bottom: 0;
  left: 0;
}



.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0px;
}

.form-group {
  flex: 1 1 calc(50% - 10px); 
  min-width: 240px;
  box-sizing: border-box; 
}


.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.form-group input,
.form-group select {
  width: 80%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: #f8f9fa;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
 
}


.button-row {
  display: flex;
  justify-content: flex-end; 
 
  flex-wrap: nowrap; 
  margin-top: 20px;
}


.button-container {
  position: relative; 
  right: 60px; 
  bottom: 10px; 
  display: flex;
  justify-content: flex-end; 
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 16px;
  margin: 7px;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-row:last-child > .form-group {
  flex: 1 1 50%;
}

.alert-success {
  margin: 1%;
} 

.contactDetailsForm {
  margin-left: 10%;
  margin-right: 10%;
}

.alert-error {
  margin: 1%;
}

.alert-danger {
  margin: 1%;
} */



.contact-details-container {
  width: 100%;
  max-width: 98%;
  padding: 20px;
  border: 1px solid #d0e0ed82;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 1% auto; 
  position: relative;
 
}
.contact-details-container h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #333;
  position: relative;
  padding-bottom: 12px;
}

.contact-details-container h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #9ab4ce;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 0px;
}

.form-group {
  flex: 1 1 calc(50% - 10px); 
  min-width: 240px;
  box-sizing: border-box; 
}


.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333;
}

.form-group input,
.form-group select {
  width: 80%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background: #f8f9fa;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  
}


.button-row {
  display: flex;
  justify-content: flex-end; 
 
  flex-wrap: nowrap; 
  margin-top: 20px;
}


.button-container {
  position: relative; 
  right: 60px; 
  bottom: 10px; 
  display: flex;
  justify-content: flex-end; 
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 16px;
  margin: 7px;
}

button:disabled {
  background-color: #ccc;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-row:last-child > .form-group {
  flex: 1 1 50%;
}

.alert-success {
  margin: 1%;
} 

.contactDetailsForm {
  margin-left: 10%;
  margin-right: 10%;
}

.alert-error {
  margin: 1%;
}
