 <div *ngIf="alertMessage" class="alert alert-dismissible"
  [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
  {{ alertMessage }}
</div>

<div class="contact-details-container">
  <h3>Contact Details</h3>
  <form class="contactDetailsForm" [formGroup]="contactForm">
    <div *ngFor="let row of dynamicFormService.getRows(fields); trackBy: dynamicFormService.trackByFn" class="form-row">
      <div *ngFor="let field of row"
        [ngClass]="{'col-6': dynamicFormService.isSingleFieldOrButtonRow(row), 'form-group': true}">

    
        <ng-container *ngIf="field.isView && field.controls !== 'BUTTON'">
          <label [for]="field.fieldName">{{ field.fieldTitle }}</label>

       


          <input *ngIf="field.controls === 'TEXTFIELD'" [type]="dynamicFormService.getFieldType(field.fieldDataType)"
            [id]="field.fieldName" [formControlName]="field.fieldName" [required]="field.isMandatory"
            (input)="dynamicFormService.onTextInput($event)" [disabled]="field.isEdit === false" />
          <div *ngIf="contactForm.get(field.fieldName)?.invalid && contactForm.get(field.fieldName)?.touched"
            class="invalid-feedback">
            <div *ngIf="contactForm.get(field.fieldName)?.errors?.['required']">
              {{ field.fieldTitle }} is required.
            </div>
            <div *ngIf="contactForm.get(field.fieldName)?.errors?.['pattern'] && field.fieldName === 'MobileNo'">
              Invalid mobile number. It must be exactly 10 digits.
            </div>
            <div *ngIf="contactForm.get(field.fieldName)?.errors?.['email'] && field.fieldName === 'Email'">
              Invalid email address.
            </div>
          </div>

         
          <select *ngIf="field.controls === 'DROPDOWNLIST'" [id]="field.fieldName" [formControlName]="field.fieldName"
            [required]="field.isMandatory" [disabled]="field.isEdit === false">
            <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
          </select>

          <input *ngIf="field.controls === 'DATEPICKER'" type="date" [id]="field.fieldName"
            [formControlName]="field.fieldName" [required]="field.isMandatory" [disabled]="field.isEdit === false" />
        </ng-container>
      </div>
    </div>

  
    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button *ngIf="field.isView && field.controls === 'BUTTON'" type="button" [disabled]="field.isEdit === false"
          (click)="onButtonClick(field.fieldTitle)">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon>
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div> 



