<app-loader *ngIf="loading"></app-loader>
<div *ngIf="personalDetails==null || personalDetails==''">
    <nodatafound></nodatafound>
</div>
<app-navbar *ngIf="personalDetails!=null"></app-navbar>
<div *ngIf="personalDetails!=null" class="container content menu-padding">
    <section>
        <div>                   
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-body cbody10">
                            <div class="row" *ngIf="personalDetails!=null">                                
                                <div class="col-md-6" >
                                   <img class="rounded-circle cirle shadow-1-strong mb-4" 
                                    src={{personalDetails.imgSource}} alt="avatar"/>
                                    <div class="row d-flex justify-content-center">
                                        <div style="text-align: center;">
                                            <h5 class="mb-3">{{personalDetails.first_name + " " + (personalDetails.middle_name!=null?personalDetails.middle_name:'') + " " + personalDetails.last_name |uppercase}}</h5>
                                            <p>{{(user!=null)?(user.designation):''}}</p>
                                            <p *ngIf = "user.aboutMe!=null" class="text-muted">
                                                <i class="fas fa-quote-left pe-2"></i>
                                            {{user.aboutMe?user.aboutMe:''}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <table id="table-cp" class="table">
                                        <tbody>
                                            <tr>
                                                <td class="col-md-6 border-0">
                                                    <!-- <div class="row">
                                                        <div class="col-sm-4"> -->
                                                            <p class="mb-0">Date of Birth</p>
                                                        <!-- </div> -->
                                                        <!-- <div class="col-sm-8"> -->
                                                            
                                                        <!-- </div>
                                                    </div> -->
                                                </td>
                                                <td class="border-0">
                                                    <p class="text-muted mb-0">{{personalDetails.dob | date}}</p>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td class="col-md-6 border-0">
                                                    Mobile Number
                                                </td>
                                                <td class="border-0">
                                                    <p class="text-muted mb-0">{{personalDetails.mob | noCommaNumber}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-6 border-0">
                                                    Email Id
                                                </td>
                                                <td class="border-0">
                                                    <p class="text-muted mb-0">{{personalDetails.email}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-6 border-0">
                                                    UAN
                                                </td>
                                                <td class="border-0">
                                                    <p class="text-muted mb-0">{{personalDetails.uan}} </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-6 border-0">
                                                    Total Experience
                                                </td>
                                                <td class="border-0">
                                                    <p class="text-muted mb-0">5 Years 7 Months 0 Days </p>
                                                </td>
                                            </tr>
                                        </tbody>                                           
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>

            <div class="row mb-12">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card mb-4">
                        <div class="card-header cheader text-center">
                            <!-- <img height="20px" src="static/images/icons/basic-details.png">  -->
                            Personal Details
                        </div>
                        <div class="card-body cbody10">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{personalDetails.first_name + " " + personalDetails.middle_name + " " + personalDetails.last_name |uppercase}}</p>
                                </div>
                            </div>
                            <hr class="hr1">
                            
                            <hr class="hr1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-8">
                                    <!-- <p class="text-muted mb-0">{{personalDetails.gender}}</p> -->
                                    <p class="text-muted mb-0">{{registrationDetails.gender | uppercase}}</p>
                                </div>
                            </div>
                            <hr class="hr1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Father/Husband Name</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{personalDetails.middle_name}}</p>
                                </div>
                            </div>
                            <hr class="hr1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Aadhaar No</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{personalDetails.aadhar}}</p>
                                </div>
                            </div>
                            <hr class="hr1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">Pancard</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{personalDetails.pan}}</p>
                                </div>
                            </div>
                            <!-- <hr class="hr1">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">International Worker</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">N</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row mb-12">
                <!-- <div>
                    <div class="container content menu-padding">
                        <section>
                            <div>                    -->
                                <!-- <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-10">
                                        <div class="card">
                                            <div class="card-header cheader text-center">
                                                 Service Overview
                                            </div>
                                            <div class="card-body">                                   
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <p class="mb-0 bold texth">Total Experience</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <p class="text-muted mb-0">5 Years 7 Months 0 Days</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <p class="mb-0 bold texth">Date of Joining</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <p class="text-muted mb-0">23-OCT-2021</p>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <br>
                                        
                                    </div>
                                    <div class="col-1"></div>
                                </div> -->
                                <!-- <div class="row"> -->
                                    <div class="col-md-1"></div>
                                    <!-- <div class="row"> -->
                                    <div class="col-md-10">
                                        <div class="card">
                                            <div class="card-header cheader">
                                                <!--<img height="20px" src="static/images/icons/basic-details.png">--> 
                                                Service History
                                            </div>
                                            <div class="card-body"> 
                                                <ul class="timeline" *ngFor="let employer of empHistory">
                                                    
                                                    <hr class="hr">
                                                    <li class="timeline-item mb-3">
                                                        <p class="text-muted mb-2 bold text-center fs-3 fw-bold">Kan Infocom Solution</p>
                                                        <!-- <p class="text-muted mb-2 bold">{{employer.companyName}}</p> -->
                                                        <div class="row">
                                                                <div class="text-center fw-normal">
                                                                        <p class="mb-0">{{employer.startdate | date }} - {{employer.enddate | date}}</p>
                                                                </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">HR Name</p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <p class="mb-0">:</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-0 text-md-start">{{employer.hrName}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">HR Mail</p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <p class="mb-0">:</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-0 text-md-start">{{employer.hrMail}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">HR Contact</p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <p class="mb-0">:</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-0 text-md-start">{{employer.hrMob}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">RM Name</p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <p class="mb-0">:</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-0 text-md-start">{{employer.rmName}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">RM Mail</p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <p class="mb-0">:</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-0 text-md-start">{{employer.rmMail}}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">RM Contact</p>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <p class="mb-0">:</p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p class="mb-0 text-md-start">{{employer.rmMob}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">Joining Date</p>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <p class="mb-0 text-md-start">16-Aug-2022</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">Exit Date</p>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <p class="mb-0 text-md-start">23-Nov-2022</p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <p class="mb-0">Total Service</p>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <p class="mb-0 text-md-start">0 Years 3 Months 7 Days</p>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                        <hr class="hr">
                                                    </li>
                                                </ul>   
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->
                                    <div class="col-md-1"></div>
                                <!-- </div> -->
                            <!-- </div>
                        </section>
                    </div>
                </div> -->
                                <!--                        <div class="col-md-6">
                                                            <div class="card mb-4">
                                                                <div class="card-header cheader text-center">
                                                                    <img height="20px" src="static/images/icons/nominee.png"> Nominee Details
                                                                </div>
                                                                <div class="card-body cbody10">
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>-->
            </div>
        </div>
    </section>

</div>
