<div class="content-wrapper">
    <div class="content">     
          <!-- Products Inventory -->
          <div class="card card-default">
            <div class="card-header">
              <h2>My TimeSheet</h2>
              <!-- <button class="btn" (click)="updateAttendance()">Sign In</button> -->
            </div>
            <div class="card-body">
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-9">
                  <form autocomplete="off"  [formGroup]="accountForm"
                    accept-charset="utf-8">
  
                    <div class="row">
  
                      <div class="col-md-4">
                        <div class="form-group">
                          <!-- <input class="form-control" placeholder="End Date"  id="attendance_date2" name="attendance_date2" type="text" > -->
                          <select class="form-select" id="year" formControlName="_year"  (change)="onYearChange()">
                            <option value="" selected disabled>Select Account Year</option>
                            <option *ngFor="let data of accountYear" value="{{data.id}}">{{data.fromDate | date:'MMM Y'}} - {{data.toDate | date:'MMM Y'}} </option>
                          </select>
                        </div>
                      </div>  
  
  
                      <div class="col-md-4">
                        <div class="form-group">
                          <!-- <input class="form-control" placeholder="End Date"  id="attendance_date2" name="attendance_date2" type="text" > -->
                          <select class="form-select" name="month" formControlName ="_month" (change)="onMonthChange()">
                            <option value="" disabled selected>Select Month</option>
                            <option *ngFor = "let data of dates" value="{{data._date}}">{{data._date | date:'MMM Y'}}</option>
                          </select>
                        </div>
                      </div>
  
                     
                      <!-- <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" placeholder="Search" id="attendance_date2" name="attendance_date2"
                            type="text">
                        </div>
                      </div> -->
                    </div>
                  </form>
                </div>
                <div class="col-md-3">
                  <ul class="icon" style=" float: right;display: flex;column-gap: 5px; margin: 5px;">
                    <li>
                      <button class="menu" style="background-color: blue;"><i class="fa fa-file-excel-o"
                          aria-hidden="true" title="Export to excel"></i></button>
                    </li>
                    <li>
                      <button class="menu" style="background-color: rgb(255, 115, 0);"><i class="fa fa-file-pdf-o"
                          aria-hidden="true" title="Export to PDF"></i></button>
                    </li>
                    <li>
                      <button class="menu" style="background-color: rgb(189, 52, 11);"><i class="fa fa-print"
                          aria-hidden="true" title="Print"></i></button>
                    </li>
                  </ul>
  
                </div>
                <div>
  
                </div>
              </div>
              <table id="productsTable" class="table table-hover table-product" style="width:100%">
                <thead>
                  <tr style="background-color: aliceblue !important;">
                    <th>Shift</th>
                    <th>Date</th>
                    <th>Shift Time</th>
                    <!-- <th>Shift In</th>
                <th>Shift Out</th> -->
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Worked Hrs</th>
                    <th>Status</th>
                    <th>Late</th>
                    <th>Early</th>
                    <th>Application</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let data of attendanceList; let i=index">
  
                  <tr>
                    <td>{{data.Shift}}</td>
  
                    <td>{{data.Shift_Date | date:'d/MMM/y'}}</td>
                    <td>09:30 - 18:30</td>
                    <td>{{data.Check_In ? (data.Check_In | date:'HH:mm') : '' }}</td>
                    <!-- <td>{{data.Check_Out ? (data.Check_Out | date:'hh:mm') : '' }}</td> -->
                    <td>{{data.Check_Out ? (data.Check_Out | date :'HH:mm') : '' }}</td>
                    <td>{{data.Worked_Hrs}}</td>
                    <td>{{data.Status}}</td>
                    <td>{{data.Late}}</td>
                    <td>{{data.Early}}</td>
                    <!-- <td><span style="cursor: pointer;" (click)="show(data,data.Application)">{{data.Application}}</span> -->
                      <td>{{data.Application_Type}}</td>
                    <td class="action-buttons">
                        <i *ngIf="data.Application_Type.length != 0" class="fa fa-eye" (click)="onView(data)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
  
            </div>
          </div>
    </div>
  </div>
  
  
  <!-- <Modal Start> -->
  <div #modalForm class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content p-md-3">
        <div class="modal-header">
          <h4 class="modal-title">{{header}}</h4>
          <button class="btn-close" type="button" #closebutton data-bs-dismiss="modal" aria-label="Close">
            <!-- <i class="fa fa-close"></i> -->
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="attendanceForm">
            <div class="row">
              <div class="form-group col-lg-3" style="margin-bottom: 10px;">
                <label class="font-weight-bold text-small" for="TimeIn">Time In<span class="astrik">*</span></label>
                <input class="form-control" id="TimeIn" type="text" formControlName="TimeIn">
              </div>
              <div class="form-group col-lg-3" style="margin-bottom: 10px;">
                <label class="font-weight-bold text-small" for="TimeOut">Time Out<span class="astrik">*</span></label>
                <input class="form-control" id="TimeOut" type="text" formControlName="TimeOut">
              </div>
              <div class="form-group col-lg-6" style="margin-bottom: 10px;">
                <label class="font-weight-bold text-small" for="phone">Remark<span class="astrik">*</span></label>
                <input class="form-control" id="Remark" type="text" formControlName="Remark">
              </div>
              <div class="form-group col-lg-12" style="display: flex;justify-content: center;margin-top: 10px;">
                <button class="btn btn-primary" type="submit" (click)="punchAttendance()">Submit</button>
                <!-- <button class="btn btn-secondary" style="margin-left:10px;" type="submit"
                    data-bs-dismiss="modal">Close</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <Request Form End> -->


    <div #viewRequest class="modal fade" id="requetsTable" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Request Info</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive ">
                                <table class="table custom-table">
                                    <tr>
                                        <th>Request Id</th>
                                        <td>{{requestData.Application_Id}}</td>
                                    </tr>
                                    <tr>
                                        <th>Request Type</th>
                                        <td>{{requestData.Application_Type}}</td>
                                    </tr>
                                    <tr>
                                        <th>Start Date</th>
                                        <td>{{requestData.Start_Date | date :'MMMM d, y'}}</td>
                                    </tr>
                                    <tr>
                                        <th>End Date</th>
                                        <td>{{requestData.End_Date | date :'MMMM d, y'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Reason</th>
                                        <td>{{requestData.Reason}}</td>
                                    </tr>
                                    <tr>
                                        <th>Applied Date</th>
                                        <td>{{requestData.Applied_Date | date :'MMMM d, y'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{requestData.Status}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>