<!-- <div *ngIf="alertMessage" class="alert alert-dismissible"
  [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
  {{ alertMessage }}
</div>

<div class="experience-details-container">
  <h3>Experience Details</h3>
  <form class="experienceDetailsForm" [formGroup]="experienceDetailsForm">
    <div class="form-row">
      <ng-container *ngFor="let field of fields">
        <div *ngIf="field.isView" class="form-group">
          <ng-container *ngIf="field.controls !== 'BUTTON'">
            <label [for]="field.fieldName">{{ field.fieldTitle }}</label>


            <input *ngIf="field.controls === 'TEXTFIELD'" [type]="dynamicFormService.getFieldType(field.fieldDataType)"
              [id]="field.fieldName" [formControlName]="field.fieldName" [required]="field.isMandatory"
              [disabled]="field.isEdit === false" />


            <select *ngIf="field.controls === 'DROPDOWNLIST'" [id]="field.fieldName" [formControlName]="field.fieldName"
              [required]="field.isMandatory" [disabled]="field.isEdit === false">
              <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
            </select>


            <input *ngIf="field.controls === 'DATEPICKER'" type="date" [id]="field.fieldName"
              [formControlName]="field.fieldName" [required]="field.isMandatory" [disabled]="field.isEdit === false" />


            <div *ngIf="field.controls === 'TEXTFIELD'">
              <small class="text-danger" *ngIf="experienceDetailsForm.get(field.fieldName)?.errors?.['required']">
                {{ field.fieldTitle }} is required.
              </small>

              <small class="text-danger" *ngIf="(experienceDetailsForm.get(field.fieldName))?.hasError('minlength')">
                {{ field.fieldTitle }} must be at least {{
                experienceDetailsForm.get(field.fieldName)?.getError('minlength').requiredLength }} characters long.
              </small>
              <small class="text-danger" *ngIf="(experienceDetailsForm.get(field.fieldName))?.hasError('maxlength')">
                {{ field.fieldTitle }} not be greater than {{
                experienceDetailsForm.get(field.fieldName)?.getError('maxlength').requiredLength }} characters long.
              </small>
              <small class="text-danger" *ngIf="experienceDetailsForm.get(field.fieldName)?.hasError('textOnly')">
                {{ field.fieldTitle }} should not contain numeric characters.
              </small>

            </div>
           
            <div *ngIf="experienceDetailsForm.hasError('dateInvalid')">
              <small class="text-danger">
                To Date must be after From Date.
              </small>
            </div>

           
            <div *ngIf="experienceDetailsForm.hasError('dateRangeExceeded')">
              <small class="text-danger">
                The date range cannot exceed 30 days.
              </small>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>


    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button *ngIf="field.isView && field.controls === 'BUTTON'" type="button" [disabled]="field.isEdit === false"
          (click)="onButtonClick(field.fieldTitle)">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon>
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div> -->



<div *ngIf="alertMessage" class="alert alert-dismissible"
  [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
  {{ alertMessage }}
</div>

<div class="experience-details-container">
  <h3>Experience Details</h3>
  <form class="experienceDetailsForm" [formGroup]="experienceDetailsForm">
    <div class="form-row">
      <ng-container *ngFor="let field of fields">
        <div *ngIf="field.isView" class="form-group">
          <ng-container *ngIf="field.controls !== 'BUTTON'">
            <label [for]="field.fieldName">{{ field.fieldTitle }}</label>

            <!-- TextField Input -->
            <input *ngIf="field.controls === 'TEXTFIELD'" [type]="dynamicFormService.getFieldType(field.fieldDataType)"
              [id]="field.fieldName" [formControlName]="field.fieldName" [required]="field.isMandatory"
              [disabled]="field.isEdit === false" />

            <!-- Dropdown Input -->
            <select *ngIf="field.controls === 'DROPDOWNLIST'" [id]="field.fieldName" [formControlName]="field.fieldName"
              [required]="field.isMandatory" [disabled]="field.isEdit === false">
              <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
            </select>

            <!-- Date Picker Input -->
            <input *ngIf="field.controls === 'DATEPICKER'" type="date" [id]="field.fieldName"
              [formControlName]="field.fieldName" [required]="field.isMandatory" [disabled]="field.isEdit === false" />

            <div *ngIf="field.controls === 'TEXTFIELD'">
              <small class="text-danger" *ngIf="experienceDetailsForm.get(field.fieldName)?.errors?.['required']">
                {{ field.fieldTitle }} is required.
              </small>

              <small class="text-danger" *ngIf="(experienceDetailsForm.get(field.fieldName))?.hasError('minlength')">
                {{ field.fieldTitle }} must be at least {{
                experienceDetailsForm.get(field.fieldName)?.getError('minlength').requiredLength }} characters long.
              </small>
              <small class="text-danger" *ngIf="(experienceDetailsForm.get(field.fieldName))?.hasError('maxlength')">
                {{ field.fieldTitle }} cannot be greater than {{
                experienceDetailsForm.get(field.fieldName)?.getError('maxlength').requiredLength }} characters long.
              </small>
              <small class="text-danger" *ngIf="experienceDetailsForm.get(field.fieldName)?.hasError('textOnly')">
                {{ field.fieldTitle }} should not contain numeric characters.
              </small>
            </div>

            <!-- Error message specific to FromDate -->
            <div *ngIf="field.fieldName === 'FromDate'">
              <small class="text-danger" *ngIf="experienceDetailsForm.get('FromDate')?.hasError('required')">
                From Date is required.
              </small>
              <small class="text-danger" *ngIf="experienceDetailsForm.hasError('dateInvalid2')">
                From Date and To Date cannot be the same.
              </small>
            </div>

            <!-- Error message specific to ToDate -->
            <div *ngIf="field.fieldName === 'ToDate'">
              <small class="text-danger" *ngIf="experienceDetailsForm.get('ToDate')?.hasError('required')">
                To Date is required.
              </small>
              <small class="text-danger" *ngIf="experienceDetailsForm.hasError('dateInvalid')">
                To Date must be after From Date.
              </small>
              <!-- <small class="text-danger" *ngIf="experienceDetailsForm.hasError('dateRangeExceeded')">
                The date range cannot exceed 30 days.
              </small> -->
            </div>

          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button *ngIf="field.isView && field.controls === 'BUTTON'" type="button" [disabled]="field.isEdit === false"
          (click)="onButtonClick(field.fieldTitle)">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon>
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div>
