<br/>
<section>
    <div class="row" style="margin-left: 15px;">
        <div class="col">
            <label>Employee Details</label><br/><br/>
            <label>Employee Name : </label><br/>
            <label>Employee Id  &nbsp;  :</label><br/>
            <label>Department     &nbsp; :</label><br/>
            <label>Contact No.     &nbsp;:</label>
        </div>
        <div class="col">
            <label>Date Details :</label><br/><br/>
            <label>Joining Date :</label><br/>
            <label>Confirfmed Date :</label><br/>
            <label>Last Working Date :</label><br/>
            <label>Notice Period :</label>
        </div>
    </div>
</section><br/><br/><br/>
<section>
    <div style="margin-left: 15px;">
        <label>Resignation Details</label><br/><br/>
        <label>Reason Type :</label>
        

    </div>
</section><br/><br/>
<section>
    <div class="row" style="margin-left: 15px;">
        <div class="col">
            <input type="button" class="submitpermission" value="Approved">
            </div>
            <div class="col">
                
                <input  type="button" value="Reject" class="submitpermission" style="margin-left: -424px;">
            </div>
    </div>
</section>
<br/>
<hr/>
<br/>
<div class="AdminExit">
    <label>Employee Off  Boarding  Clearance </label>
</div><br/><br/>
<div style="margin-left: 15px;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Clearance Required</th>
            <th scope="col">Submission of Clearance</th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Regional Manager</td>
            <td><input type="checkbox" value="sumbmit"></td>   
            <td><input type="submit" class="submitpermission"></td>     
           
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>IT Department</td>
            <td><input type="checkbox" value="sumbmit"></td>        
           <td><input type="submit" class="submitpermission"></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>HR Department</td>
            <td><input type="checkbox" value="sumbmit"></td> 
            <td><input type="submit" class="submitpermission"></td>                  
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Finance Department</td>
            <td><input type="checkbox" value="sumbmit"></td>  
            <td><input type="submit" class="submitpermission"></td>                 
          </tr>
          <!-- <tr>
            <td>
            </td>
            <td>
            </td>
            <td><input type="submit" class="submitpermission"></td>
            </tr> -->
        </tbody>
       
    </table>
</div>

