<div style="text-align: center; font-size: 149%; margin-left: -119px;">
    <label>Employee Detail</label>
</div>
<br/><br/>

<section>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <label>Employee Name</label><br>
            <label>Employee Id</label><br>
            <label>Department</label><br>
            <label>Contact No.</label>
        </div>
        <div class="col-1">
            <label>:</label><br>
            <label>:</label><br>
            <label>:</label><br>
            <label>:</label>
        </div>
        <div class="col-5">
            <label>Sagar Chaudhari</label><br>
            <label>K-192</label><br>
            <label>IT</label><br>
            <label>8989898998</label>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <label>Joining Date</label><br>
            <label>Confirmed Date</label><br>
            <label>Last Working Date</label><br>
            <label>Notice Period</label>
        </div>
        <div class="col-1">
            <label>:</label><br>
            <label>:</label><br>
            <label>:</label><br>
            <label>:</label>
        </div>
        <div class="col-5">
            <label>15-07-2024</label><br>
            <label>-</label><br>
            <label>15-10-2024</label><br>
            <label>90 days</label>
        </div>
        <div class="col-1"></div>
    </div>
</section>
<br/><br/><br/>

<section>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <label>Resignation Details</label><br/><br/>
            <label>Reason Type</label>
        </div>
        <div class="col-1">
            <label></label><br/><br/>
            <label>:</label>
        </div>
        <div class="col-4">
            <label></label><br/><br/>
            <label>Medical Issue</label>
        </div>
    </div>
</section>
<br/><br/>

<section>
    <div class="row" style="margin-left: 15px;">
        <div class="col">
            <input type="button" class="submitpermission" value="Approved">
        </div>
        <div class="col">
            <input type="button" value="Reject" class="submitpermission" style="margin-left: -424px;">
        </div>
    </div>
</section>
<br/>
<hr/>
<br/>
<div class="AdminExit">
    <label>Employee Off Boarding Clearance</label>
</div>
<br/><br/>
<div style="margin-left: 15px;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Clearance Required</th>
                <th scope="col">Submission of Clearance</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of deptNames">
                <td>{{ dept.deptId }}</td>
                <td>{{ dept.deptName }}</td>
                <td><input type="checkbox" value="{{ dept.deptName }}"></td>
                <td><input type="submit" class="submitpermission" value="Submit"></td>
            </tr>
        </tbody>
    </table>
</div>