
<br/><br/>
<div class="row d-flex gap-2" style="margin-left: 10px;">
    
        <div class="admintoprow">
            <a href="#">
            <label>Employee</label>
            <p>15</p>
            </a>
        </div>
        <div class="admintoprow">
            <a href="">
            <label>Attendance</label>
            <p>P:0  A:15</p>
            </a>
        </div>
        <div class="admintoprow">
            <a href="#">
            <label>Total Leave</label>
            <p> 0</p>
            </a>
        </div>
        <div class="admintoprow">
            <a href="#">
            <label>Total Expenses</label>
            <p>₹ 143897.332</p>
            </a>
        </div>
        <div class="admintoprow">
            <a href="#">
            <label>Total Deposit</label>
            <p>₹ 221000</p>
            </a>
        </div>
        <div class="admintoprow">
            <a href="#">
            <label>Total Salary Paid</label>
            <p>₹221000</p>
            </a>
        </div>
    
</div><br/><br/>
<!--*****************-->
<section>
    <div class="row">
        <div  class="barchart">
            <h3 style="text-align: center;">Payment Last-- 6 Month </h3>
            <app-paymentbar></app-paymentbar>
        </div>
        <div class="barchart">
            <h3 style="text-align: center;">Employee Department</h3>
            <app-empdeptpiechart></app-empdeptpiechart>
            <div class="row" style="margin-left: 5px;">
            <div>
                <div class="piechartlabel"  style="background-color: #8db8f0;"></div>             
                <p>CSE</p>
            </div>
            <div>
                <div class="piechartlabel" style="background-color: #610327;"></div>             
                <p>Finance</p>
            </div>
            <div>
                <div class="piechartlabel" style="background-color: #f0055f;"></div>             
                <p>Analytics</p>
            </div>
            </div>
        </div>
    </div>
</section>
<section><br/><br/>


    <!--************-->
    <div class="row">

         <div class="piechartbox">
            <h3 style="text-align: center;">Employee Designation</h3>
            

         <figure #pieChart style="text-align: center;"></figure>
         <div style="margin-left: 10px;" class="row">
            <div>
                <div class="piechartlabel" style="background-color: #c3b7c5;"></div>             
                <p>Android Developer</p>
            </div>
            <div>
                <div class="piechartlabel" style=" background-color: #06c0e0;"></div>             
                <p>.Net Developer</p>
            </div>
            <div>
                <div class="piechartlabel" style=" background-color: #955f9e;"></div>             
                <p>Finance</p>
            </div>
            <div>
                <div class="piechartlabel" style="background-color: #28a745;"></div>             
                <p>Data Analytics</p>
            </div>
           
        </div> 
        </div>
         <div class="piechartbox">
            <h3 style="text-align: center;">Expense Vs Deposite</h3>
            <app-expense></app-expense>
            <div style="margin-left: 10px;" class="row">
                <div>
                    <div class="piechartlabel" style=" background-color: #c3b7c5;"></div>             
                    <p>Expenses</p>
                </div>
                <div>
                    <div class="piechartlabel" style=" background-color: #06c0e0;"></div>             
                    <p>Deposite</p>
                </div>
               
            </div> 
        </div>
        <div class="piechartbox gap-2">
            <h3 style="text-align: center;">Project Status</h3>
           
            <app-prjpiechart></app-prjpiechart>
            <div style="margin-left: 10px;" class="row">
                <div>
                    <div class="piechartlabel"  style="background-color: #923535;"></div>             
                    <p>InProgres</p>
                </div>
                <div>
                    <div class="piechartlabel" style="background-color: #c2bdbd;"></div>             
                    <p>Not Started</p>
                </div>
                <div>
                    <div class="piechartlabel" style="background-color:  #1ce0a5;"></div>             
                    <p>Completed</p>
                </div>
            </div> 
           
        </div>
    </div>
  </section><br/><br/>

 <section>
    <div class="row gap-2" style="margin-left: 2px;">
        <div class="adminanouncementrow">
        <a href="#">
            <label> Anouncement</label><br/>
            <p>0</p>
        </a>
        </div>
        <div class="adminanouncementrow">
            <a href="#">
            <label>Open Ticket</label><br/>
            <p>1</p>
            </a>
        </div>
        <div class="adminanouncementrow">
            <a href="#">
            <label> Completed Ticket</label><br/>
            <p>0</p>
            </a>
        </div>
    </div>
</section>

<!--Admin Calender-->
<!-- <section>
    
</section> -->
<br/>


  