.app-brand a img{
  max-width: 75%;
  margin: auto;
  padding: 5px;
}
.app-brand a{
  height: 100%;
}
.app-brand{
  height: 106px;
}
app-login{
  width: 100%;
}
 

/* CSS for the caret */
.caret {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate-right {
  transform: rotate(0deg);
}

.rotate-down {
  transform: rotate(90deg);
}

 /*  sagarDev  */
/* CSS for the collapse/expand behavior */
ul.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

ul.collapse.show {
  max-height: 1000px; 
  transition: max-height 0.5s ease-in;
}
.section-title{
 margin-left: 30px;
}
app-login{
  width: 100%;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-header {
  background: #007bff;
  color: white;
  padding: 10px;
  flex-shrink: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 20px;
}

.search-form .input-group {
  display: flex;
  align-items: center;
}

.search-form .form-control {
  width: 200px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .notification .icon {
  font-size: 1.5em;
}

.navbar-nav .user-menu {
  display: flex;
  align-items: center;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.page-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

.left-sidebar {
  width: auto;
  min-width: 17%;
    max-width: 17%;
  background: #e5e9f2;
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* height: 100vh;  */
  /* position: fixed;  */
  top: 60px; 
  left: 0;
  overflow: hidden;
  z-index: 1000; 
  margin: 3px;
  border:2px solid #0000ff14 ;
  /* box-shadow: 2px 0 5px #e5e9f2; */
}

.sidebar-with-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav-item .nav-link {
  color: black;
  padding: 10px 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-item .nav-link:hover {
/* <<<<<<< HEAD
  background: #CDCCCC;
======= */
  background: #8199e9;
  border-radius: 5px;
  color: white;
/* >>>>>>> 13da90e7059fb5de262e7ad68c93aebfa1350431 */
}

.sidebar-footer {
  padding: 10px;
  /* background: #212529; */
}

.sidebar-footer a {
  color: white;
}


/* ------01081024--------- */

/* main-component.css */
.main-content {
  display: flex;
}

/* .left-sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh; 
} */

.left1-sidebar {
  width: 16%;
  background: #e5e9f2;
  color: white;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  top: 60px; 
  left: 0;
  overflow: hidden;
  z-index: 1000; 
   margin: 3px; 
  border:2px solid #0000ff14 ;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.page-content {

 
 
  width: calc(100% - 250px); 
/* >>>>>>> 13da90e7059fb5de262e7ad68c93aebfa1350431 */
}
.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sidebar {
  /* width: 250px;
  height: 100vh; */
  /* background: #333; */
  color: white;
  transition: width 0.3s;
}

.sidebar.isCollapsedSideBar {
  width: 0;
  overflow: hidden;
}

.main-header {
  width: 100%;
  background: #f8f9fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.sidebar-toggle {
  /* background: none; */
  border: none;
  cursor: pointer;
  /* color: #333; */
  font-size: 1.5rem;
}

.isCollapsedSideBar{
  display: none;
}





.main-content d-flex{
  background: #f8f9fa;
}




/* Style for the "Back" button */
.back-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 15px;
   padding: 8px 12px;
  background-color: #007bff;
  color: #ffff; 
  border: 1px solid #ddd; 
  border-radius: 7px; 
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  /* font-weight: bold; */
  transition: background-color 0.3s;
  position: relative;
  top: 100px;

}

.back-button:hover {
  background:blue ;
   color: whitesmoke ;
}

.back-button i {
   margin-right: 10px;  
 
}



