.app-brand a img{
    max-width: 75%;
    margin: auto;
    padding: 5px;
}
.app-brand a{
    height: 100%;
}
.app-brand{
    /* height: 10%; */
    height: 108px;
}



/* CSS for the caret */
.caret {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .rotate-right {
    transform: rotate(0deg);
  }
  
  .rotate-down {
    transform: rotate(90deg);
  }
  
  /* CSS for the collapse/expand behavior */
  ul.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  ul.collapse.show {
    max-height: 1000px; /* Adjust this value based on expected content height */
    transition: max-height 0.5s ease-in;
  }
  
  
  .section-title{
   margin-left: 30px;
  }

app-login{
  width: 100%;
}



/* Ensure you add this CSS in your global styles.css or component-specific CSS */

.left-sidebar {
  background-color: #343a40;
}

.left-sidebar .nav-item {
  margin: 0.5rem 0;
}

.left-sidebar .nav-link {
  color: #adb5bd;
  padding: 0.75rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.left-sidebar .nav-link:hover {
  background-color: #495057;
  color: #fff;
}

.left-sidebar .nav-link .fas {
  font-size: 1.25rem;
}

.sidebar-footer {
  padding: 1rem;
  background-color: #212529;
}

.sidebar-footer-content .d-flex li {
  list-style: none;
}

.sidebar-footer-content .d-flex li a {
  color: #adb5bd;
  transition: color 0.3s;
}

.sidebar-footer-content .d-flex li a:hover {
  color: #fff;
}
