<form>
        <div class="Separationheader">
            <h3>Employee Separation Details</h3>
        </div><br/>

        <div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <label class="subpoint"> Details</label>
                </div>
            </div><br/>

            <section>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <label>Employee Name </label><br/>
                        <label>Date Of Joining </label><br/>
                        <label>Base Location </label><br/>
                        <label>Grade</label><br/>
                        <label>Functional Manager</label><br/>
                        <label>Contract End Date</label><br/>
                        <label>Reason</label>
                    </div>                   
                    <div class="col-3">
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>  
                        <select class="form-control custom-select-arrow" id="reason" name="Reason">
                            <option value="">Select Option</option>
                            <option value="value1">Better Opportunity</option>
                            <option value="value2">Medical Issue</option>
                            <option value="value3">Contract Expiration</option>
                            <option value="value4">Disciplinary Issue</option>
                            <option value="value5">Lack of Performance</option>
                            <option value="value6">Family Reason</option>
                            <option value="value7">Terminate</option>
                            <option value="value8">Other</option>
                        </select>                     
                    </div>
                    <div class="col-2">
                        <label>Employment Number</label><br/>
                        <label>Business Unit</label><br/>
                        <label>Work Location</label><br/>
                        <label>Designation</label><br/>
                        <label>Reporting Manager</label><br/>
                        <label>Leave Balance</label><br/>
                        <label style="font-weight: bold;">Notice Period</label>
                    </div>
                  
                    <div class="col-3">
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <input type="text" class="form-control"><br/>
                        <label style="font-weight: bold;">90 Days</label>
                    </div>
                    <div class="col-1"></div>
                </div>
            </section>
            <br/><br/>
        </div>
        
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <label> Describe</label>
            </div>
            <div class="col-4">
                <textarea id="describe" name="describe" rows="4" cols="50"></textarea>
            </div>
        </div>

       
        

        <div style="align-items: end;">   
            <button class="button">Confirm</button>
        </div>
        <br/>

</form>