<div style="text-align: center;">
    <h3 style="margin-top: 25px;">Employee Off Boarding</h3>
</div><br/><br/>

<div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <label style="font-size: 20px;"> Resignation Details</label>
        </div>
    </div><br/><br/>

    <section>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <label>Employee Name </label><br/>
                <label>Date Of Joining </label><br/>
                <label>Base Location </label><br/>
                <label>Grade</label><br/>
                <label>Functional Manager</label><br/>
                <label>Contract End Date</label><br/>
            </div>
            <div class="col-1">
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
            </div>
            <div class="col-2">
                <label>Sagar Chaudhari </label><br/>
                <label>15-07-2023 </label><br/>
                <label>Mumbai</label><br/>
                <label>-</label><br/>
                <label>Imran Khan</label><br/>
                <label>-</label><br/>
            </div>
            <div class="col-2">
                <label>Employment Number</label><br/>
                <label>Business Unit</label><br/>
                <label>Work Location</label><br/>
                <label>Designation</label><br/>
                <label>Reporting Manager</label><br/>
                <label>Leave Balance</label><br/>
            </div>
            <div class="col-1">
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
                <label>:</label><br/>
            </div>
            <div class="col-2">
                <label>K-192</label><br/>
                <label>-</label><br/>
                <label>Mumbai</label><br/>
                <label>Software Developer</label><br/>
                <label>Imran Khan</label><br/>
                <label>4</label><br/>
            </div>
            <div class="col-1"></div>
        </div>
    </section><br/><br/>


    <section>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <label>Exit Reason</label>
            </div>
            <div class="col-1"><label>:</label></div>
            <div class="col-4">
                <select name="Reason">
                    <option value="">Select Option</option>
                    <option value="value1">Better Oportunity</option>
                    <option value="value2">Medical Issue</option>
                    <option value="value3">Contract  Expiration</option>
                    <option value="value4">Disciplinary Issue</option>
                    <option value="value5">Lack of Performance</option>
                    <option value="value6">Family Reason</option>
                    <option value="value7">Terminate</option>
                    <option value="value8">Other</option>
                </select>
            </div>
        </div>
    </section>
</div>
<br/><br/>

<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
        <label style="font-weight: bold;">Notice Period</label><br/>
        <label>Describe in Details</label>
    </div>
    <div class="col-1">
        <label>:</label><br>
        <label>:</label>
    </div>
    <div class="col-4">
        <label>90 days</label><br/>
        <textarea id="" name="" rows="4" cols="70"></textarea> 
    </div>
    <!-- <div class="col-4">     
        <textarea id="" name="" rows="4" cols="70"></textarea>        
     </div> -->

    <!-- <div class="row">
        <div class="col">
             <label style="margin-top: 13px;">Short Notice Period:</label>
        </div>
        <div class="col">
             <input type="date" id="shortdate" name="shortdate" style="margin-left: -357px;">
        </div>
    </div><br/> -->
    
</div><br/>

<div>   
    <button class="button">Confirm</button>
 </div>
