<div class="leftmargin">
    <h3 style="margin-top: 25px;">Employee Off Boarding</h3>
</div><br/><br/>
<div>
    <div class="leftmargin">
        <label>Record Resignation</label>
    </div><br/><br/>

    <section>
        <div class="row leftmargin">
            <div class="col">
                <label>Employee Name :</label><label></label><br/>
                <label>Date Of Joining :</label><label></label><br/>
                <label>Base Location :</label><label></label><br/>
                <label>Grade :</label><label></label><br/>
                <label>Functional Manager :</label><label></label><br/>
                <label>Contract End Date :</label><label></label><br/>
            </div>
            <div class="col">
                <label>Employment Number :</label><label></label><br/>
                <label>Business Unit :</label><label></label><br/>
                <label>Work Location :</label><label></label><br/>
                <label>Designation :</label><label></label><br/>
                <label>Reporting Manager :</label><label></label><br/>
                <label>Leave Balance :</label><label></label><br/>
            </div>
        </div>
    </section>

    <section>
        <div class="leftmargin">
            <label>Exit Reason</label><br/>
            <select name="Reason">
                <option value="">Select Option</option>
                <option value="value1">Better Oportunity</option>
                <option value="value2">Medical Issue</option>
                <option value="value3">Contract  Expiration</option>
                <option value="value4">Disciplinary Issue</option>
                <option value="value5">Lack of Performance</option>
                <option value="value6">Family Reason</option>
                <option value="value7">Terminate</option>
                <option value="value8">Other</option>
            </select>
        </div>
    </section>
</div>
<br/><br/>
<div class="leftmargin">
    <label style="font-weight: bold;">Notice Period : 90 days </label><br/>
    <div class="row">
        <div class="col">
             <label style="margin-top: 13px;">Short Notice Period:</label>
        </div>
        <div class="col">
             <input type="date" id="shortdate" name="shortdate" style="margin-left: -357px;">
        </div>
    </div><br/>
    <div>
       <label>Describe in Details :</label><br/>
       <textarea id="" name="" rows="4" cols="70"></textarea>
       <!-- <input type="text" class="textboxDetails"> -->
    </div>
</div><br/>

<div>   
    <button class="button"><i class="bi bi-check-circle"></i>&nbsp;Confirm</button>
 </div>
