<app-loader *ngIf="loading"></app-loader>
<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh">
  <div class="d-flex flex-column justify-content-between">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="card card-default mb-0">
          <div class="card-header pb-0">
            <div class="app-brand w-100 d-flex justify-content-center border-bottom-0 row">
              <a class="w-auto pl-0" href={{companyUrl}}>
                <img src={{companyLogo}} alt="https://kaninfos.com">
              </a>
              <br>
              <p class="brand-name text-dark justify-content-center m-auto" style="    padding: 0 10px 0 65px;">Welcome to HRMS of KAN</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" style="padding: 0;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-container">
            <div class="login-section text-center clearfix CredentialsDiv p10">
              <h3 class="text-center loginlabel">Login to your Account</h3>
              <div class="form-group">
                <label for="companyCode" class="float-left loginlabel">Company Code</label>
                <input formControlName="companyCode" id="txtCompanyCode" placeholder="Company Code" class="form-control" [ngClass]="{'is-invalid': f['companyCode'].touched && f['companyCode'].invalid}">
                <div *ngIf="f['companyCode'].touched && f['companyCode'].invalid" class="text-danger error-message">
                  <div *ngIf="f['companyCode'].errors?.['required']">Company Code is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="employeeCode" class="float-left loginlabel">Employee Code</label>
                <input formControlName="employeeCode" id="txtEmpCode" placeholder="Employee Code" class="form-control" [ngClass]="{'is-invalid': f['employeeCode'].touched && f['employeeCode'].invalid}">
                <div *ngIf="f['employeeCode'].touched && f['employeeCode'].invalid" class="text-danger error-message">
                  <div *ngIf="f['employeeCode'].errors?.['required']">Employee Code is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="float-left loginlabel">Password</label>
                <div class="input-group">
                  <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" id="txtPassword" placeholder="Password" class="form-control" [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}">
                  <div class="input-group-append">
                    <span class="input-group-text showpass" (click)="togglePasswordVisibility()">
                      <i class="fa" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="f['password'].touched && f['password'].invalid" class="text-danger error-message">
                  <div *ngIf="f['password'].errors?.['required']">Password is required.</div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block border-white" style="background-color: #0032A4;">Login</button>
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-outline-secondary border-white w-48">Check In</button>
                <span class="mr-2"></span>
                <button type="button" class="btn btn-outline-secondary border-white w-48">Check Out</button>
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-sm btn-link" (click)="openForgotPasswordModal(loginForm,content)">Forgot Password?</button>
                <span class="ml-2 mr-2"></span>
                <button type="button" class="btn btn-sm btn-link" (click)="openUnlockAccountModal(loginForm,unlockContent)">Unlock Account</button>
              </div>
              <button type="button" class="btn btn-sm btn-link" style="display: none;">Change Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forgot Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeForgotPasswordModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="forgotPassAlertMessage" class="alert-dismissible forgotPasswordAlert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
      {{ forgotPassAlertMessage }}
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPasswordForm(changePasswordContent)">
      <div class="form-group">
        <label for="txtForgotEmail">Enter your email</label>
        <input type="email" class="form-control" id="txtForgotEmail" formControlName="EmailID" required>
        <div *ngIf="fp['EmailID'].touched && fp['EmailID'].invalid" class="text-danger">
          <div *ngIf="fp['EmailID'].errors?.['required']">Email ID is required.</div>
          <div *ngIf="fp['EmailID'].errors?.['email']">Invalid email format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="txtForgotMobileNo">Enter your Mobile No</label>
        <input type="text" class="form-control" id="txtForgotMobileNo" formControlName="MobileNo" maxlength="10" pattern="^\d{10}$" required>
        <div *ngIf="fp['MobileNo'].touched && fp['MobileNo'].invalid" class="text-danger">
          <div *ngIf="fp['MobileNo'].errors?.['required']">Mobile No is required.</div>
          <div *ngIf="fp['MobileNo'].errors?.['pattern']">Invalid Mobile No format.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>

<!-- Unlock Account Modal -->
<ng-template #unlockContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Unlock Account</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeUnlockAccountModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="forgotPassAlertMessage" class="alert-dismissible forgotPasswordAlert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
      {{ forgotPassAlertMessage }}
    </div>
    <form [formGroup]="unlockAccountForm" (ngSubmit)="submitUnlockAccountForm()">
      <div class="form-group">
        <label for="doj">Joining Date</label>
        <input type="date" class="form-control" id="doj" formControlName="doj" required>
        <div *ngIf="ua['doj'].touched && ua['doj'].invalid" class="text-danger">
        <div *ngIf="ua['doj'].touched && ua['doj'].errors?.['required']">Date of Joining is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="dob">Enter your Date of Birth</label>
        <input type="date" class="form-control" id="txtDateOfBirth" formControlName="dob" required>
        <!-- <div *ngIf="ua['EmpCode'].touched && ua['EmpCode'].invalid" class="text-danger">
          <div *ngIf="ua['EmpCode'].errors?.['required']">Employee Code is required.</div>
        </div> -->
        <div *ngIf="ua['dob'].touched && ua['dob'].invalid" class="text-danger">
          <div *ngIf="ua['dob'].errors?.['required']">Date of Birth is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>

<!-- Change Password Modal -->
<ng-template #changePasswordContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeChangePasswordModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="forgotPassAlertMessage" class="alert-dismissible forgotPasswordAlert" [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" role="alert">
      {{ forgotPassAlertMessage }}
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
      <div class="form-group">
        <label for="txtChangeNewPass">Enter your New Password</label>
        <input type="password" class="form-control" id="txtChangeNewPass" formControlName="NewPassword" required>
        <div *ngIf="cp['NewPassword'].touched && cp['NewPassword'].invalid" class="text-danger">
          <div *ngIf="cp['NewPassword'].errors?.['required']">New Password is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="txtChangeConfirmPass">Enter Confirm Password</label>
        <input type="password" class="form-control" id="txtChangeConfirmPass" formControlName="ConfirmPassword" required>
        <div *ngIf="cp['ConfirmPassword'].touched && cp['ConfirmPassword'].invalid" class="text-danger">
          <div *ngIf="cp['ConfirmPassword'].errors?.['required']">Confirm Password is required.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>
