<app-loader *ngIf="loading"></app-loader>
<!-- <div class="container mt-5">
    <select class="selectpicker" multiple aria-label="size 3 select example">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
    </select>
  </div> -->
<section>
    <div class="container-fluid"><span id="general_result"></span></div>
    <div class="table-responsive">
        <div id="employee-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
                <br><br><br>
                <div class="m-auto text-center"><span><h4>List of Onboard Employees</h4></span></div><br>
                <!-- <div class="row dataTables_length" id="employee-table_length">
                    <label class="col-5">
                        <div class="btn-group bootstrap-select form-control form-control-sm h-auto">
                            <button type="button" class="btn dropdown-toggle btn-default btn-light"
                                data-toggle="dropdown" role="button" title="10">
                                <span class="filter-option pull-left">10</span>&nbsp;
                                <span class="bs-caret">
                                    <span class="caret"></span>
                                </span>
                            </button>
                            <div class="dropdown-menu open" role="combobox">
                                <div class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                    <a tabindex="0" class="dropdown-item selected" data-original-index="0">
                                        <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0"
                                            aria-disabled="false" aria-selected="true">
                                            <span class="text">10</span><span class="fa fa-check check-mark"></span>
                                        </span>
                                    </a>
                                    <a tabindex="0" class="dropdown-item" data-original-index="1">
                                        <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0"
                                            aria-disabled="false" aria-selected="false">
                                            <span class="text">25</span>
                                            <span class="fa fa-check check-mark"></span>
                                        </span>
                                    </a>
                                    <a tabindex="0" class="dropdown-item" data-original-index="2">
                                        <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0"
                                            aria-disabled="false" aria-selected="false">
                                            <span class="text">50</span>
                                            <span class="fa fa-check check-mark"></span>
                                        </span>
                                    </a>
                                    <a tabindex="0" class="dropdown-item" data-original-index="3">
                                        <span class="dropdown-item-inner " data-tokens="null" role="option" tabindex="0"
                                            aria-disabled="false" aria-selected="false">
                                            <span class="text">All</span>
                                            <span class="fa fa-check check-mark"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <select name="employee-table_length" aria-controls="employee-table"
                                class="form-control form-control-sm m-auto" tabindex="-98">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="-1">All</option>
                            </select>
                        </div> records per page
                    </label>
                    <span class="col-2"></span>
                    <label class="col-5">
                        <input type="search" class="form-control" placeholder="Search" aria-controls="employee-table">
                    </label>
                </div>
                <div class="dt-buttons btn-group">
                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0"
                        aria-controls="employee-table" type="button">
                        <span>
                            <i title="export to pdf" class="fa fa-file-pdf-o"></i>
                        </span>
                    </button>
                    <button class="btn btn-secondary buttons-csv buttons-html5 export-for-device" tabindex="0"
                        aria-controls="employee-table" type="button">
                        <span>
                            <i title="export for device" class="fa fa-tablet"></i>
                        </span>
                    </button>
                    <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="employee-table"
                        type="button">
                        <span>
                            <i title="print" class="fa fa-print"></i>
                        </span>
                    </button>
                    <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0"
                        aria-controls="employee-table" type="button" aria-haspopup="true">
                        <span>
                            <i title="column visibility" class="fa fa-eye"></i>
                        </span>
                    </button>
                </div> -->
            </div>
            <div id="employee-table_processing" class="dataTables_processing card" style="display: none;">Processing...
            </div>
            <table id="employee-table" class="table dataTable no-footer dt-checkboxes-select dtr-inline" role="grid"
                aria-describedby="employee-table_info">
                <thead>
                    <tr role="row">
                        <th class="not-exported text-left dt-checkboxes-cell dt-checkboxes-select-all sorting_disabled"
                            rowspan="1" colspan="1" style="width: 25px;" data-col="0" aria-label="">
                            <div class="checkbox">
                                <input type="checkbox" class="dt-checkboxes" (change)="selectAll($event)">
                                <label class="text-bold"></label>
                            </div>
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                            style="width: 220px;" aria-label="Employee: activate to sort column ascending">Sr No
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                            style="width: 220px;" aria-label="Employee: activate to sort column ascending">Employee Name
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                            style="width: 234px;" aria-label="Company: activate to sort column ascending">Designation
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                            style="width: 277px;" aria-label="Contact: activate to sort column ascending">Contact</th>
                        <th class="not-exported text-left sorting_disabled" rowspan="1" colspan="1"
                            style="width: 161px;" aria-label="action">action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let employee of emloyeeList; let i=index;">
                    <tr role="row" class="odd">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox">
                                <input type="checkbox" class="dt-checkboxes" [(ngModel)]="employee.checked"
                                    (change)="onCheckboxChange($event, i)">
                                <label class="text-bold"></label>
                            </div>
                        </td>
                        <td>
                                    <span>
                                        <a class="d-block text-bold"
                                            style="color:#24ABF2; pointer-events: none;">{{i+1}}
                                        </a>
                                    </span>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <span>
                                        <a class="d-block text-bold"
                                            style="color:#24ABF2; pointer-events: none;">{{employee.first_Name+"
                                            "+employee.last_name}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>Designation : {{employee.designation}}</span>
                        </td>
                        <td>
                            <i class="fa fa-envelope text-muted" title="Email"></i> {{employee.email}}<br>
                        </td>
                        <td class=" text-left">
                            <a [routerLink]="['/employeeData', employee.id]" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details">
                                <i class="fa fa-eye"></i>
                            </a>&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                    <!-- <tr id="11" role="row" class="even">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox">
                                <input type="checkbox" class="dt-checkboxes">
                                <label class="text-bold"></label>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2">
                                    <img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px">
                                </div>
                                <div><span><a href="employees/11" class="d-block text-bold" style="color:#24ABF2">Neo
                                            Dezhi</a></span><br><span>Username: neo22</span><br><span>Staff Id:
                                        3</span><br><span>Gender:
                                        Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type: Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : Finance</span><br><span>Designation
                                : Finance
                                Manager</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> dezhi@gmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 67278232<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> Deshi321<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 987456</td>
                        <td class=" text-left"><a href="employees/11" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="11" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/11"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="12" role="row" class="odd">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/12" class="d-block text-bold" style="color:#24ABF2">Bob
                                            Hobart</a></span><br><span>Username: bob05</span><br><span>Staff Id:
                                        4</span><br><span>Gender:
                                        Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type:
                                        Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : Finance</span><br><span>Designation
                                : Finance
                                Manager</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> bob@ymail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 4678292<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> bobhober05<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 12354698</td>
                        <td class=" text-left"><a href="employees/12" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="12" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/12"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="13" role="row" class="even">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/13" class="d-block text-bold" style="color:#24ABF2">Alice
                                            Patrica</a></span><br><span>Username: alicehh4</span><br><span>Staff Id:
                                        5</span><br><span>Gender: Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type: Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : CSE</span><br><span>Designation :
                                Senior
                                Programmer</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> alicehh4@newmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 8765445698<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> Alica123<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 96548789</td>
                        <td class=" text-left"><a href="employees/13" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="13" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/13"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="14" role="row" class="odd">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/14" class="d-block text-bold" style="color:#24ABF2">Mayank
                                            Agarwal</a></span><br><span>Username: mayank06</span><br><span>Staff Id:
                                        6</span><br><span>Gender: Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type: Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : Analyst</span><br><span>Designation
                                : Data
                                Analyst</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> mayank@gmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 746389982<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> mayank23<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 465467767</td>
                        <td class=" text-left"><a href="employees/14" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="14" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/14"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="15" role="row" class="even">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/15" class="d-block text-bold"
                                            style="color:#24ABF2">Mansoor
                                            Ahmed</a></span><br><span>Username: mansoor</span><br><span>Staff Id:
                                        7</span><br><span>Gender:
                                        Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        200</span><br><span>Payslip Type:
                                        Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : Finance</span><br><span>Designation
                                : Finance
                                Manager</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> mansoor@yahoo.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 67638299<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> Moonsoor<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 48787564</td>
                        <td class=" text-left"><a href="employees/15" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="15" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/15"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="27" role="row" class="odd">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/27" class="d-block text-bold"
                                            style="color:#24ABF2">Junayet
                                            Istius</a></span><br><span>Username: junayet95</span><br><span>Staff Id:
                                        8</span><br><span>Gender: Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type: Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : CSE</span><br><span>Designation :
                                Senior
                                Programmer</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> junayet@gmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 01829496534<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> junayet67<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 66456798</td>
                        <td class=" text-left"><a href="employees/27" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="27" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/27"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="34" role="row" class="even">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/34" class="d-block text-bold" style="color:#24ABF2">Amzad
                                            Hossain</a></span><br><span>Username: amzad95</span><br><span>Staff Id:
                                        9</span><br><span>Gender: Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type: Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : CSE</span><br><span>Designation :
                                Android
                                Developer</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> amzad@gmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 01521225124<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> amjad95<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 65412254</td>
                        <td class=" text-left"><a href="employees/34" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="34" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/34"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="38" role="row" class="odd">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/38" class="d-block text-bold" style="color:#24ABF2">Anisul
                                            Islam</a></span><br><span>Username: anis95</span><br><span>Staff Id:
                                        10</span><br><span>Gender:
                                        Male</span><br><span>Shift: </span><br><span>Salary: ₹
                                        100</span><br><span>Payslip Type:
                                        Monthly</span></div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : CSE</span><br><span>Designation :
                                Android
                                Developer</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> nasrinchowdhury198@gmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 01521222842<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> anis95<br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> 48754121</td>
                        <td class=" text-left"><a href="employees/38" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="38" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/38"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr id="45" role="row" class="even">
                        <td class=" text-left dt-checkboxes-cell" tabindex="0">
                            <div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label
                                    class="text-bold"></label></div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="mr-2"><img src="https://hrm5.test-softwares.online/logo/avatar.jpg"
                                        class="profile-photo md" style="height:35px;width:35px"></div>
                                <div><span><a href="employees/45" class="d-block text-bold" style="color:#24ABF2">Promi
                                            Chy</a></span><br><span>Username: promi98</span><br><span>Staff Id:
                                        11</span><br><span>Gender:
                                        Female</span><br><span>Shift: MidDay</span><br><span>Salary: ₹ 0</span><br>
                                </div>
                            </div>
                        </td>
                        <td><span class="text-bold">HR1</span><br><span>Department : CSE</span><br><span>Designation :
                                Android
                                Developer</span></td>
                        <td><i class="fa fa-envelope text-muted" title="Email"></i> promi98@gmail.com<br><i
                                class="text-muted fa fa-phone" title="Phone"></i> 423213234<br><i
                                class="text-muted fa fa-skype" title="Skype"></i> <br><i
                                class="text-muted fa fa-whatsapp" title="Whats App"></i> </td>
                        <td class=" text-left"><a href="employees/45" class="edit btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="View Details"><i
                                    class="dripicons-preview"></i></a>&nbsp;&nbsp;&nbsp;<button type="button"
                                name="delete" id="45" class="delete btn btn-danger btn-sm" data-toggle="tooltip"
                                data-placement="top" title="Delete"><i
                                    class="dripicons-trash"></i></button>&nbsp;&nbsp;&nbsp;<a class="download btn-sm"
                                style="background:#FF7588; color:#fff" title="PDF"
                                href="https://hrm5.test-softwares.online/staff/employees/pdf/45"><i
                                    class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
                    </tr> -->
                </tbody>
            </table>
            <li class="btn btn-primary float-right" style="left: 10px;
            position: relative;"><button (click)="createEmployee()"><i class=" fa fa-plus" aria-hidden="true"></i> Create New Employee </button></li>
            <li class="btn btn-primary float-right"><button (click)="addEmployeesToHRMS()"><i class="fa fa-plus" aria-hidden="true"></i> Add to HRMS </button></li>
            <div class="dataTables_info" id="employee-table_info" role="status" aria-live="polite">Showing 1 - 10 (15)
            </div>
            <div class="dataTables_paginate paging_simple_numbers" id="employee-table_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="employee-table_previous"><a href="#"
                            aria-controls="employee-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active"><a href="#" aria-controls="employee-table"
                            data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="employee-table" data-dt-idx="2"
                            tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item next" id="employee-table_next"><a href="#"
                            aria-controls="employee-table" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
<hr>
<div class="table-responsive">
    <div id="employee-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <br><br><br>
                <div class="m-auto text-center"><span><h4>List of HRMS Employees</h4></span></div><br>
          </div> 
        <div id="employee-table_processing" class="dataTables_processing card" style="display: none;">Processing...
        </div>
        <table id="employee-table" class="table dataTable no-footer dt-checkboxes-select dtr-inline" role="grid"
            aria-describedby="employee-table_info">
            <thead>
                <tr role="row">
             
                    <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                        style="width: 220px;" aria-label="Employee: activate to sort column ascending">Sr No.
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                        style="width: 220px;" aria-label="Employee: activate to sort column ascending">Employee Id
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                        style="width: 220px;" aria-label="Employee: activate to sort column ascending">Employee Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                        style="width: 234px;" aria-label="Company: activate to sort column ascending">Designation
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                        style="width: 277px;" aria-label="Contact: activate to sort column ascending">Joining Date</th>
                    <!-- <th class="not-exported text-left sorting_disabled" rowspan="1" colspan="1"
                        style="width: 161px;" aria-label="action">action</th> -->
                </tr>
            </thead>
            <tbody *ngFor="let employee of employeeHRMSList; let i=index;">
                <tr role="row" class="odd">
                    <td  >
                        
                            <span>
                                <a class="d-block text-bold"
                                    style="color:#24ABF2; pointer-events: none;">{{i+1}}
                                </a>
                            </span>
                        
                    </td>
                    <td class=" d-flex" >
                        <div>
                            <span>
                                <a class="d-block text-bold"
                                    style="color:#24ABF2; pointer-events: none;">{{employee.employeeId}}
                                </a>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div>
                                <span>
                                    <a class="d-block text-bold"
                                        style="color:#24ABF2; pointer-events: none;">{{employee.employeeName}}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <span>{{employee.designation}}</span>
                    </td>
                    <td>
                        {{employee.joiningDate |date}}<br>
                    </td>
              </tr>
             </tbody>
        </table>
        <div class="dataTables_info" id="employee-table_info" role="status" aria-live="polite">Showing 1 - 10 (15)
        </div>
        <div class="dataTables_paginate paging_simple_numbers" id="employee-table_paginate">
            <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="employee-table_previous"><a href="#"
                        aria-controls="employee-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="employee-table"
                        data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="employee-table" data-dt-idx="2"
                        tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item next" id="employee-table_next"><a href="#"
                        aria-controls="employee-table" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
</div>
    <!-- <hr>
    <div *ngFor="let item of paginatedItems">
        {{ item.name }}
      </div>
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls> -->
</section>

<div #formModal id="formModal" class="modal fade" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLabel" class="modal-title">{{'Add Employee' }}</h5>
                <button type="button" data-bs-dismiss="modal" #closeButton id="close" aria-label="Close" class="close"
                    (click)="closePopup()"><i class="fa fa-close"></i>
                </button>
            </div>

            <div class="modal-body">
                <span id="form_result"></span>

                 <!-- <form autocomplete="off" [formGroup]="addEmployeeForm" method="post" id="sample_form" (ngSubmit)="submitAddJobForm()" 
                    class="form-horizontal">
                    <input type="hidden" name="_token" value="WBsSmxTBcH2zQXS8pMY4tp1HgrqqOnyOsPL2yDj7">
                    <div class="row">
                      <div class=" col-md-6 form-group">
                            <label for="EmployeeName">Employee Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="EmployeeName" id="EmployeeName" class="form-control"
                                placeholder="EmployeeName">                            
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Shift <span class="text-danger">*</span></label>
                            <select name="shift" id="shift" required class="selectpicker form-control"
                                data-live-search="true" data-live-search-style="contains" title="Select shift..."
                                formControlName="ShiftID">
                                <option value="" disabled>Select shift</option>
                                <option value="S1001">Regular</option>
                                <option value="S1002">Morning</option>
                                <option value="S1003">Afternoon</option>
                                <option value="S1004">Night</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="JoiningDate">Date Of Joining</label>
                            <input type="date" class="form-control" placeholder=" Date" formControlName="JoiningDate">
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="Designation">Designation <span class="text-danger">*</span></label>
                            <select name="Designation" id="Designation" required class="selectpicker form-control"
                                data-live-search="true" data-live-search-style="contains" title="Select Designation..."
                                formControlName="Designation">
                                <option value="" disabled selected>Select Designation</option>
                                <option value="D1001">Software Developer</option>
                                <option value="D1002">Software Tester</option>
                                <option value="D1003">HR</option>
                                <option value="D1005">Admin</option>
                                <option value="D1006">Team Lead</option>
                                <option value="D1000">other</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label for="Role">Role <span class="text-danger">*</span></label>
                            <select name="Role" id="Role" required class="selectpicker form-control"
                                data-live-search="true" data-live-search-style="contains" title="Select Role..."
                                formControlName="RoleID">
                                <option value="" disabled>Select your RoleID</option>
                                <option value="R1000">User</option>
                                <option value="R1001">Admin</option>
                                <option value="R1002">HR</option>
                                <option value="R1003">Super Admin</option>
                            </select>
                        </div>

                        <div class="container">
                            <div class="form-group" align="center">
                                <input type="submit" name="action_button" [disabled]="!addEmployeeForm.valid" id="action_button" class="btn btn-warning"
                                    [value]="'Create Employee'"> 
                            </div>
                        </div>
                    </div>
                </form> -->

                <form [formGroup]="employeeForm" id="sample_form" class="form-horizontal" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class=" col-md-6 form-group">
                            <div formGroupName="registration">
                                <label>Title</label>
                                <input formControlName="title" class="form-control" type="text">
                                <label>First Name</label>
                                <input formControlName="firstName" class="form-control" type="text">
                                <label>Middle Name</label>
                                <input formControlName="middleName" class="form-control" type="text">
                                <label>Last Name</label>
                                <input formControlName="lastName" class="form-control" type="text">
                                <!-- Add other registration fields similarly -->
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div formGroupName="signUpDetails">
                                    <label>ID</label>
                                    <input formControlName="id" class="form-control" type="text">
                                    <label>Roles<span class="text-danger">*</span></label>
                                    <input formControlName="roles" class="form-control" type="text">
                                    <label>Email<span class="text-danger">*</span></label>
                                    <input formControlName="email" class="form-control" type="text">
                                    <label>Designation<span class="text-danger">*</span></label>
                                    <input formControlName="designation" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <div formArrayName="educationDetails">
                                <div *ngFor="let education of educationDetails.controls; let i=index" [formGroupName]="i">
                                    <label>College</label>
                                    <input formControlName="college" class="form-control" type="text">
                                    <label>Course Title</label>
                                    <input formControlName="courseTitle" class="form-control" type="text">
                                    <!-- Add other education fields similarly -->
                                </div>
                                <button type="button" (click)="addEducationDetail()">Add Education Detail</button>
                            </div>
                        </div>
                        <div class="col-md-6 form-group">                       
                            <div formArrayName="experienceDetails">
                                <div *ngFor="let experience of experienceDetails.controls; let i=index" [formGroupName]="i">
                                    <label>Company Name</label>
                                    <input formControlName="companyName" class="form-control" type="text">
                                    <label>Designation</label>
                                    <input formControlName="designation" class="form-control" type="text">
                                    <!-- Add other experience fields similarly -->
                                </div>
                                <button type="button" (click)="addExperienceDetail()">Add Experience Detail</button>
                            </div>
                        </div>
                    
                        <div class="col-md-6 form-group">
                            <div formGroupName="personalDetails">
                                <label>First Name</label>
                                <input formControlName="firstName" class="form-control" type="text">
                                <label>Last Name</label>
                                <input formControlName="lastName" class="form-control" type="text">
                                <!-- Add other personal details fields similarly -->
                            </div>
                        </div>
                    
                        <div class="col-md-6 form-group">
                            <!-- <div formArrayName="documentDetails">
                                <div *ngFor="let document of documentDetails.controls; let i=index" [formGroupName]="i">
                                    <label>File Name</label>
                                    <input formControlName="fileName" type="text">
                                    <label>Company Name</label>
                                    <input formControlName="companyName" type="text">
                                </div>
                                <button type="button" (click)="addDocumentDetail()">Add Document Detail</button>
                            </div> -->

                            <!-- <div formArrayName="documentDetails">
                                <div *ngFor="let document of documentDetails.controls; let i=index" [formGroupName]="i">
                                  <input type="file" (change)="addDocumentDetail($event)">
                                  <label>File Name: {{ document.value.fileName }}</label>
                                  <button type="button" (click)="removeDocumentDetail(i)">Remove</button>
                                </div>
                              </div> -->
                              <!-- <div formArrayName="documentDetails">
                                    <div *ngIf="documentDetails.length > 0">
                                        <div *ngFor="let document of documentDetails.controls; let i=index" [formGroupName]="i">
                                            <input type="file" (change)="addDocumentDetail($event)">
                                            <label>File Name: {{ document.value.fileName }}</label>
                                            <button type="button" (click)="removeDocumentDetail(i)">Remove</button>
                                        </div>
                                    </div>
                                    <div *ngIf="documentDetails.length === 0">
                                    <p>No documents added yet.</p>
                                        <input type="file" (change)="addDocumentDetail($event) ">
                                        <label>Company Name</label>
                                        <input formControlName="companyName" type="text">
                                        <label>Document Type</label>
                                        <input formControlName="docType" type="text">
                                        <label>Document Description</label>
                                        <textarea formControlName="docDescription"></textarea>
                                    </div>
                              </div> -->
                        </div>
                        <div class="container">
                            <div class="form-group" align="center">
                                <button type="submit"  class="btn btn-warning">Submit</button>
                            </div>
                        </div>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div>