<div class="container">
  <div class="row leave-history-section">
    <div class="col-md-2">
      <!--<h5>Leave History</h5>-->
      <a [routerLink]="['/leave-history']">Leave History</a>
    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-around text-center leave-status">
        <div>
          <span class="badge bg-primary rounded-circle">{{ allCount }}</span>
          <p>All</p>
        </div>
        <div>
          <span class="badge bg-warning rounded-circle">{{ openCount }}</span>
          <p>Open</p>
        </div>
        <div>
          <span class="badge bg-success rounded-circle">{{ approvedCount }}</span>
          <p>Approved</p>
        </div>
        <div>
          <span class="badge bg-danger rounded-circle">{{ declinedCount }}</span>
          <p>Rejected</p>
        </div>
        <div>
          <span class="badge bg-secondary rounded-circle">{{ cancelledCount }}</span>
          <p>Cancelled</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 text-end">
      <div class="dropdown notification">
        <!-- <button class="dropdown-toggle nav-link" (click)="toggleHolidayList()" href="javascript:void(0)">
          <i class="mdi mdi-calendar-outline icon"></i> Holiday List
        </button> -->


        <button class="dropdown-toggle nav-link" (click)="toggleHolidayList()" href="javascript:void(0)">
          <i class="mdi mdi-calendar-outline icon"></i> Holiday List
          <i class="mdi mdi-chevron-down"></i>
        </button>

        <!-- In leave-apply.component.html -->
        <!-- <p>You selected the date: {{ selectedDate | date: 'fullDate' }}</p> -->


        <div class="dropdown-menu-container">
          <ul id="holidayDropdownMenu" class="dropdown-menu" [ngClass]="{'show': isHolidayListOpen}">
            <h6 class="dropdown-heading">Holiday List</h6>
            <div *ngIf="holidays.length > 0">
              <div class="holiday-item" *ngFor="let holiday of holidays">
                <div class="holiday-header">
                  <span class="holiday-name">{{ holiday.name }}</span>
                  <span class="holiday-date">{{ holiday.date | date}}</span>
                </div>
              </div>
              <!-- <div class="load-more">
                <button class="btn btn-sm btn-primary" (click)="loadMoreHolidays()">View More</button>
              </div> -->
            </div>
            <div *ngIf="holidays.length === 0">
              <p class="no-holidays">No holidays available.</p>
            </div>

            <div class="dropdown-arrow"></div>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="container2">
    <h5>Leave Summary</h5>
    <div class="leave-summary-container d-flex">
      <div *ngFor="let leave of leaveSummary" class="leave-tab">
        <h5>{{ leave.leaveText }}</h5>
        <!-- <p>Available Balance  {{ leave.leaveText }}</p> -->
        <p>Available Balance</p>
        <h6>{{ leave.balanceLeaves }} Days</h6>
      </div>
    </div>
  </div>

  <div class="container2">
    <h5 class="mt-0">Apply Leave</h5>
    <div class="row apply-leave-section">
      <div class="col-12">
        <form [formGroup]="leaveForm" (ngSubmit)="applyLeave()">
          <div class="row">
            <!-- Left Column: Leave Type, From Date, To Date, Leave Sub Category -->
            <div class="col-md-6">
              <div class="mb-3">
                <label for="leaveType" class="form-label">Leave Type</label>
                <select class="form-select" formControlName="leaveType" (change)="onLeaveTypeChange($event)">
                  <option value="" disabled>Select Leave Type</option>
                  <option *ngFor="let leaveType of leaveTypes" [value]="leaveType.leaveID">{{ leaveType.leaveText }}
                  </option>
                </select>
                <div *ngIf="isSubmitted && f['leaveType'].errors" class="text-danger">
                  Leave Type is required.
                </div>
              </div>

              <div class="mb-3" *ngIf="isCompOffSelected && !showMessage">
                <label for="workedDates" class="form-label">Worked Dates</label>

                <div class="worked-dates-container" formArrayName="workedDates">
                  <div *ngFor="let date of workedDates.controls; let i = index" class="worked-date-item">
                    <div class="date-card">
                      <span>{{ date.value | date: 'MM/dd/yyyy'}}</span>
                      <button type="button" class="btn btn-danger btn-sm remove-btn" (click)="removeWorkedDate(i)">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <button *ngIf="canAddDate" type="button" class="btn btn-primary mt-2" (click)="addWorkedDate()">
                  Add Date
                </button>

                <div *ngIf="showValidationMessage" class="text-danger">
                  At least {{ minDatesRequired }} Worked Dates are required.
                </div>
              </div>


              <div class="row">
                <!-- From Date -->
                <!-- <div class="col-md-4">
                  <div class="mb-3">
                    <label for="fromDate" class="form-label">From Date</label>
                    <input type="date" id="fromDate" placeholder="dd/MM/yyyy" class="form-control" formControlName="fromDate">
                   
                    <div *ngIf="isSubmitted && f['fromDate'].errors?.['required']" class="text-danger">
                      From Date is required.
                    </div>
                    <div *ngIf="!isSubmitted && f['fromDate'].errors?.['invalidFromDate']" class="text-danger">
                      From Date must be within the last month.
                    </div>
                  </div>
                </div> -->


                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="fromDate" class="form-label">From Date</label>
                    <input 
                    type="text" 
                    id="fromDate" 
                    class="form-control" 
                    placeholder="dd/mm/yyyy" 
                    bsDatepicker 
                    formControlName="fromDate">
                  
                    <div *ngIf="isSubmitted && f['fromDate'].errors?.['required']" class="text-danger">
                      From Date is required.
                    </div>
                    <div *ngIf="isSubmitted && f['fromDate'].errors?.['invalidDateFormat']" class="text-danger">
                      Please use the format dd/mm/yyyy.
                    </div>
                  </div>
                </div>
                


               
                
                
                
                <!-- To Date -->
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="toDate" class="form-label">To Date</label>
                    <input type="date" class="form-control" formControlName="toDate">
                    <!-- Show validation error messages -->
                    <div *ngIf="isSubmitted && f['toDate'].errors?.['required']" class="text-danger">
                      To Date is required.
                    </div>
                    <div *ngIf="isSubmitted && f['toDate'].errors?.['dateRangeInvalid']" class="text-danger">
                      To Date cannot be earlier than From Date.
                    </div>
                  </div>
                </div>

                <!-- Leave Count -->
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="leaveCount" class="form-label">Leave Count</label>
                    <input type="text" class="form-control" [value]="leaveCount" readonly>
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="leaveCount" class="alert alert-info mt-3">
                The leave count for the selected period is {{ leaveCount }}. 
               
              </div> -->

              <!-- Leave Count Message -->
              <div *ngIf="leaveCount > balanceLeaves" class="alert alert-danger mt-3">
                The leave count for the selected period is {{ leaveCount }}. You only have {{ balanceLeaves }} days
                available.
              </div>

              <div class="mb-3">
                <label for="leaveReason" class="form-label">Leave Reason</label>
                <textarea class="form-control" formControlName="reason" rows="3" (input)="updateCharCount()"></textarea>
                <div *ngIf="isSubmitted && f['reason'].errors" class="text-danger">
                  <span *ngIf="f['reason'].errors?.['required']">Leave Reason is required.</span>
                  <span *ngIf="f['reason'].errors?.['minlength']">Minimum 10 characters required.</span>
                  <span *ngIf="f['reason'].errors?.['maxlength']">Maximum 500 characters allowed.</span>
                </div>
                <div class="text-muted" [ngClass]="{ 'text-danger': charCount > 500 }">
                  <ng-container *ngIf="charCount <= 500; else exceededMessage">
                    You have entered {{ charCount }} characters. You can enter up to 500 characters.
                  </ng-container>
                  <ng-template #exceededMessage>
                    Maximum limit of 500 characters exceeded!
                  </ng-template>
                </div>
              </div>
            </div>

            <!-- Right Column: Email, Contact, and Approval Cards -->
            <div class="col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label">Email ID</label>
                <input type="email" class="form-control" formControlName="email">
                <div *ngIf="isSubmitted && f['email'].errors" class="text-danger">
                  <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
                  <span *ngIf="f['email'].errors?.['email']">Invalid email format.</span>
                </div>
              </div>
              <div class="mb-3">
                <label for="contact" class="form-label">Contact</label>
                <input type="text" class="form-control" formControlName="contact">
                <div *ngIf="isSubmitted && f['contact'].errors" class="text-danger">
                  <span *ngIf="f['contact'].errors?.['required']">Contact is required.</span>
                  <span *ngIf="f['contact'].errors?.['pattern']">Invalid phone number.</span>
                </div>
              </div>

              <div class="row text-center approval-cards">
                <div class="col-md-4" *ngFor="let approver of leaveApprovers">
                  <div class="approval-card">
                    <img [src]="approver.profilePicture ? approver.profilePicture : 'https://via.placeholder.com/50'"
                      alt="Approver Image">
                    <p>{{ approver.approverName }} <small> (Approval Level {{ approver.approvalLevel }}) </small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 text-end mt-6">
            <button type="button" class="btn btn-secondary me-2" (click)="resetForm()">Cancel</button>
            <button type="submit" class="btn btn-primary">Apply Leave</button>
          </div>

          <!-- Display success messages -->
          <div *ngIf="successMessage" class="alert alert-success mt-2">
            {{ successMessage }}
          </div>

          <!-- Display error messages -->
          <div *ngIf="errorMessage" class="alert alert-danger mt-2">
            {{ errorMessage }}
          </div>

        </form>
      </div>
    </div>
  </div>