<app-navbar></app-navbar>
<div class="card">
    <div class="card-header cheader "> <span><h4 class="text-center fs-4 fw-bold">Documents</h4></span> </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="employee-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            
                <table id="employee-table" class="table dataTable no-footer dt-checkboxes-select dtr-inline" role="grid"
                    aria-describedby="employee-table_info">
                    <thead>
                        <tr role="row">
                        
                            <th class="sorting text-center" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                                style="width: 100px;" aria-label="Employee: activate to sort column ascending">Sr No.
                            </th>
                            <th class="sorting text-center" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                                style="width: 220px;" aria-label="Employee: activate to sort column ascending">Document Name
                            </th>
                            <th class="sorting text-center" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                                style="width: 234px;" aria-label="Company: activate to sort column ascending">Document Type
                            </th>
                            <th class="sorting text-center" tabindex="0" aria-controls="employee-table" rowspan="1" colspan="1"
                                style="width: 277px;" aria-label="Contact: activate to sort column ascending">School/Company Name</th>
                            <th class="not-exported text-left sorting_disabled text-center" rowspan="1" colspan="1"
                                style="width: 161px;" aria-label="action">action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let doc of docList; let i=index;">
                        <tr role="row" class="odd">
                        
                            <td >
                                <!-- <div class="d-flex"> -->
                                    <div>
                                        <span>
                                            <a class="d-block text-bold text-center"
                                                style="color:#24ABF2; pointer-events: none;">{{i+1}}
                                            </a>
                                        </span>
                                    </div>
                                <!-- </div> -->
                            </td>
                            <td>
                                <!-- <div class="d-flex"> -->
                                    <div>
                                        <span>
                                            <a class="d-block text-bold text-center"
                                                style="color:#24ABF2; pointer-events: none;">{{doc.fileName}}
                                            </a>
                                        </span>
                                    </div>
                                <!-- </div> -->
                            </td>
                            <td>
                                <div>
                                    <span>
                                        <a class="d-block text-bold text-center"
                                            style="color:#24ABF2; pointer-events: none;">
                                {{doc.docType}}</a></span></div>
                            </td>
                            <td>
                                <div>
                                    <span>
                                        <a class="d-block text-bold text-center"
                                            style="color:#24ABF2; pointer-events: none;">{{doc.companyName}}<br></a></span></div>
                            </td>
                            <td class=" text-left">
                                <div>
                                    <span style="
                                    justify-content: center;
                                    display: flex;
                                ">
                                <a href={{doc.docSource}} target="_blank" class="edit btn btn-primary btn-sm text-center"
                                    data-toggle="tooltip" data-placement="top" title="View Details">
                                    <i class="fa fa-eye"></i>
                                </a></span></div>
                        </tr>
                    </tbody>
                </table>
                <li class="btn btn-primary float-right" style="left: 10px;
                position: relative;"><button ><i class=" fa fa-plus" aria-hidden="true"></i> Upload Documents </button></li>
                
                <!-- <div class="dataTables_paginate paging_simple_numbers" id="employee-table_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="employee-table_previous"><a href="#"
                                aria-controls="employee-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                        </li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="employee-table"
                                data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="employee-table" data-dt-idx="2"
                                tabindex="0" class="page-link">2</a></li>
                        <li class="paginate_button page-item next" id="employee-table_next"><a href="#"
                                aria-controls="employee-table" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>
