/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.toast-top-right{
    top: 12px;
    right: 0;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#toastr-container {
    position: relative;
    top: 120px; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    z-index: 10000; /* Ensure it's above other elements */
    margin: 0 auto;
}
footer{
    position: relative;
    bottom: 0;
}
.copyright {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
p{
    font-weight: 400;
    margin-bottom: 0;
    font-size: 0.98rem;
}
@media (min-width: 992px) {
    .copyright {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}
.copyright p {
    font-weight: 500;
}
app-profile,app-dashboard,app-contact-details,app-bank-details,app-education-details,app-experience-details,app-leave-approval,app-leave-history,app-punch-time-approval,app-leave-apply,regurlization-history,app-attendence-calender,mwl-demo-component

  {
    width: 100%;
}
.cal-month-view .cal-header{
    border: 1px solid;
}
/* .cal-weekend{
     background-color: beige;
} */

.cal-month-view .cal-header .cal-cell{
    background-color: #4c6fbf !important;
    color: white;
  }
  .list-group-item{
    border: none !important ;
  }