<div class="content-wrapper">
    <div class="content">
        <div class="card card-default">
            <div class="card-header">
                <h2>My Application</h2>
            </div>
            <div class="col-sm-12" style="display: flex; margin-top: 15px;">
                <div class="cls">
                    <div class="value"><span id="AppSpnAllCount" class="counter">12</span></div>
                    <div class="desciption"><span id="AppSpnAllStatus">All</span></div>
                </div>
                <div class="cls">
                    <div class="value"><span id="AppSpnAllCount" class="counter">12</span></div>
                    <div class="desciption"><span id="AppSpnAllStatus">Open</span></div>
                </div>
                <div class="cls">
                    <div class="value"><span id="AppSpnAllCount" class="counter">12</span></div>
                    <div class="desciption"><span id="AppSpnAllStatus">Aproved</span></div>
                </div>
                <div class="cls">
                    <div class="value"><span id="AppSpnAllCount" class="counter">12</span></div>
                    <div class="desciption"><span id="AppSpnAllStatus">Declined</span></div>
                </div>
                <div class="cls">
                    <div class="value"><span id="AppSpnAllCount" class="counter">12</span></div>
                    <div class="desciption"><span id="AppSpnAllStatus">Cancelled</span></div>
                </div>
                <!-- <div class="cls col-sm-2">
                  <div class="value"><span id="AppSpnAllCount" class="counter">12</span></div>
                  <div class="desciption"><span id="AppSpnAllStatus">All</span></div>
                </div>  -->
            </div>




            <div class="card-body">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-8">
                        <form autocomplete="off" name="update_attendance_from" id="update_attendance_from" method="get"
                            accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- <input class="form-control" placeholder="End Date"  id="attendance_date2" name="attendance_date2" type="text" > -->
                                        <select class="form-control" name="cars">
                                            <option value="" disabled selected>--Select Month--</option>
                                            <option value="saab">April 2024</option>
                                            <option value="opel">May 2024</option>
                                            <option value="audi">June 2024</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="col-md-4">
                  <ul class="icon" style=" float: right;display: flex;column-gap: 5px; margin: 5px;">
                    <li>
                      <button class="menu" style="background-color: blue;"><i class="fa fa-file-excel-o"
                          aria-hidden="true" title="Export to excel"></i></button>
                    </li>
                    <li>
                      <button class="menu" style="background-color: rgb(255, 115, 0);"><i class="fa fa-file-pdf-o"
                          aria-hidden="true" title="Export to PDF"></i></button>
                    </li>
                    <li>
                      <button class="menu" style="background-color: rgb(189, 52, 11);"><i class="fa fa-print"
                          aria-hidden="true" title="Print"></i></button>
                    </li>
                  </ul>
  
                </div> -->
                    <div>

                    </div>
                </div>
                <table id="productsTable" class="table table-hover table-product" style="width:100%">
                    <thead>
                        <tr style="background-color: aliceblue !important;">
                            <th>Code</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>sadafseghsrdhjteje</td>
                            <td>Approved</td>
                            <td>View</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>