.name-row {
    display: flex;
    justify-content: center; 
   
    align-items: center; 
    gap: 10px; 
}
.box {

  height: 369px;
  width: 496px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.1); 
}

.Reportiesimg{
    height: 95px;
    width: 95px;
}
.borderMyApp
{
   
    height: 208px;
    width:160px ;
    column-gap: 15px;
}
.labelallign{
    text-align: center;
    display: block;
}

.pcontent{
font-weight: bold; 
font-size: 80px;
text-align: center;
}

.hr-lines {
    position: relative;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }
  
  .hr-lines:before,
  .hr-lines:after {
    content: "";
    height: 2px;
    width: 70px;
    background: #ffc107;
    display: block;
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
  }
  .sepration{
    border-left:1px solid #e2e2e2;
  }
  .rounded-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 20px; 
    background-color: rgb(0 152 69); 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.profileimg{

  width: 150px;
  align-items: center;

}
.profilebox{
  width: 245px;
  height: 436px;

  margin-left: 21px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.1); 
}
section{
  border: 1px solid #CDCCCC;
  border-radius: 10px;
}