<!-- <div *ngIf="alertMessage" [ngClass]="'alert alert-' + alertType">
    {{ alertMessage }}
  </div>
   -->

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeChangePasswordModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="alertMessage" [ngClass]="'alert alert-' + alertType">
        {{ alertMessage }}
      </div>
      
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control"
                required>
            <div *ngIf="cp['currentPassword'].touched && cp['currentPassword'].invalid" class="text-danger">
                Current Password is required.
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control" required>
            <div *ngIf="cp['newPassword'].touched && cp['newPassword'].invalid" class="text-danger">
                New Password is required.
            </div>
        </div>
        <div class="form-group">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" class="form-control"
                required>
            <div *ngIf="cp['confirmNewPassword'].touched && cp['confirmNewPassword'].invalid" class="text-danger">
                Confirm New Password is required.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
