<div *ngIf="alertMessage" class="alert alert-dismissible" 
     [ngClass]="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'error'}" 
     role="alert">
  {{ alertMessage }}
</div>

<div class="profile-container">
  <h3>My Profile</h3>
  <form class="profileForm" [formGroup]="profileForm">
    <div class="form-row">
      <ng-container *ngFor="let field of fields">
        <div *ngIf="field.isView" class="form-group">
          <ng-container *ngIf="field.controls !== 'BUTTON'">
            <label [for]="field.fieldName">{{ field.fieldTitle }}</label>
            
            <!-- Text Input -->
            <input *ngIf="field.controls === 'TEXTFIELD'"
                   [type]="dynamicFormService.getFieldType(field.fieldDataType)"
                   [id]="field.fieldName"
                   [formControlName]="field.fieldName"
                   [required]="field.isMandatory"
                   [disabled]="field.isEdit === false"/>
            
            <!-- Dropdown -->
            <select *ngIf="field.controls === 'DROPDOWNLIST'"
                    [id]="field.fieldName"
                    [formControlName]="field.fieldName"
                    [required]="field.isMandatory"
                    [disabled]="field.isEdit === false" (change)="onTitleChange(field)">
              <option *ngFor="let option of field.options" [value]="option.value">{{ option.text }}</option>
            </select>
            
            <!-- Datepicker -->
            <input *ngIf="field.controls === 'DATEPICKER'"
                   type="date"
                   [id]="field.fieldName"
                   [formControlName]="field.fieldName"
                   [required]="field.isMandatory" 
                   [disabled]="field.isEdit === false"/>
                   
                   <!--  -->
                   <!-- {{profileForm.get(field.fieldName)?.errors?.['minLength']}} -->
                   <!-- {{(profileForm.get(field.fieldName))?.hasError('minlength')}}
                   {{ field.fieldTitle }} -->
                   <div *ngIf="field.controls === 'TEXTFIELD'"> 
                    <small class="text-danger" *ngIf="profileForm.get(field.fieldName)?.errors?.['required']">
                      {{ field.fieldTitle }} is required.
                    </small>
                    <!-- <small class="text-danger" *ngIf="(profileForm.get(field.fieldName))?.errors?.['minLength']"> -->
                    <small class="text-danger" *ngIf="(profileForm.get(field.fieldName))?.hasError('minlength')">
                      {{ field.fieldTitle }} must be at least {{ profileForm.get(field.fieldName)?.getError('minlength').requiredLength }} characters long.
                    </small>
                    <small class="text-danger" *ngIf="profileForm.get(field.fieldName)?.hasError('textOnly')">
                      {{ field.fieldTitle }} should not contain numeric characters.
                    </small>
                    <!-- Add more validation messages as needed -->
                  </div>
                   <!--  -->
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- Button Row -->
    <div class="button-container">
      <ng-container *ngFor="let field of fields">
        <button 
          *ngIf="field.isView && field.controls === 'BUTTON'" 
          type="button" 
          [disabled]="field.isEdit === false"
          (click)="onButtonClick(field.fieldTitle)">
          <fa-icon [icon]="['fas', field.iconName]"></fa-icon>
          {{ field.fieldTitle }}
        </button>
      </ng-container>
    </div>
  </form>
</div>
